// Settings for default elements

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    
    padding: 0;
    margin: 0;

    -webkit-text-size-adjust: 100%;
}

html, body {
    min-height: 100%;
    
    padding: 0;
    margin: 0;
}

body, form, input, select, button, p, pre, dfn, address, ul, ol, li,
h1, h2, h3, h4, h5, h6, img,
table, tr, td, th, input, textarea {
    color: @color-base;
    font-family: @font-base;
    font-size: @font-size;

    @media @query-mobile {
        font-size: @font-size-mobile;
    }
}


form {
    
    table {
        margin: 0;
        
        th, td {
            padding: 5px 0;
            
            background: none;
            border: none;
            
            text-align: left;
        }
        
        th {
            padding-right: 20px;
        }
    }
    
}

label, .label {
    font-size: 14px;
    font-weight: 700;
    color: @color-black;
    
    &.required {
        
        &:after {
            content: '*';
            
            display: inline-block;
            
            margin-left: 5px;
            
            font-size: 16px;
            font-weight: 400;
            color: @color-red;
        }
        
    }
}

fieldset {
    border: 0;
    
    margin: 0;
    padding: 0;
}

input {
    -webkit-font-smoothing: subpixel-antialiased;
	-webkit-appearance: none;
	
	border-radius: 0;

    &:focus {
        outline: none;
    }

}


@input-height: 42px;
@input-height-bigger: 48px;

.input {
    display: block;
    
    width: 100%;
    height: @input-height;
    
    padding: 0 2%;
    
    border: @border-form-element;
    background-color: @color-white;
    
    font-size: 16px;
    font-weight: 400;
    line-height: @input-height;
    letter-spacing: 0.18px;
    color: @color-grayDark;
    
    
    &--bigger {
        height: @input-height-bigger;
        
        padding-left: 4%;
        padding-right: 4%;
        
        line-height: @input-height-bigger;
    }
    
    &:disabled {
        background-color: @color-grayLightExtra;
    }
    
    &.error {
        border-color: @color-red;
    }
}

button {
    -webkit-font-smoothing: subpixel-antialiased;
	-webkit-appearance: none;
	
	border-radius: 0;

    &:focus {
        outline: none;
    }

}

select {

    &:focus {
        outline: none;
    }

}

textarea {
    border-radius: 0;
    
    &:focus {
        outline: none;
    }

}

.textarea {
    display: block;
    
    width: 100%;
    height: 110px;
    
    padding: 2%;
    
    border: @border-form-element;
    background-color: @color-white;
    
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.18px;
    color: @color-grayDark;
    
    &.error {
        border-color: @color-red;
    }
}

.element-error-notice {
    display: block;
    
    font-size: 12px;
    font-weight: 400;
    color: @color-red;
}


img {
    max-width: 100%;
    height: auto;

    border: none;
}

td, th {
    text-align: left;
}

hr {
    height: 1px;
}

dfn {
    font-style: normal;
}

table {
    border-collapse: collapse;
}

p {
    word-wrap: break-word;
    
    padding: 0;
    margin: 0 0 @margin-gap 0;
}

h1, h2, h3, h4, h5, h6 {
    color: @color-grayDark;
    font-family: @font;
    font-weight: 400;
    line-height: 1.3em;
    text-rendering: optimizelegibility;
    word-wrap: break-word;
}

h1 {
    margin: 0 0 @margin-gap 0;

    font-size: 28px;
    font-weight: 700;
    line-height: 32px;


    @media @query-mobile {
        font-size: 22px;
        line-height: 26px;
    }

    @media @query-mobile-sm {
        margin-bottom: @margin-gap-small;

        font-size: 18px;
        line-height: 24px;
    }
}

h2 {
    margin: 0 0 @margin-gap-small 0;

    font-size: 24px;
    line-height: 28px;


    @media @query-mobile {
        font-size: 20px;
        line-height: 24px;
    }

    @media @query-mobile-sm {
        font-size: 18px;
        line-height: 22px;
    }
}

h3 {
    margin: 0 0 @margin-gap-small 0;

    font-size: 18px;


    @media @query-mobile {
        font-size: 16px;
    }
}

h4 {
    margin: 0 0 @margin-gap-small 0;

    font-size: 14px;
    font-weight: 700;
}

h5 {
    margin: 0 0 @margin-gap-small 0;

    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}

h6 {
    margin: 0 0 @margin-gap-small 0;

    font-size: 12px;
    font-weight: 700;
}

a {
    text-decoration: underline;
    color: @color-link;
    cursor: pointer;
    outline: none;
    transition: @transition color;

    &:hover {
        text-decoration: none;
        color: @color-link-hover;
    }

    img {
        border: none;
    }
}


.delete-link {
    display: inline-block;
    
    width: @delete-icon-size;
    height: @delete-icon-size;
    
    background-repeat: no-repeat;
    background-position: left center;
    background-size: @delete-icon-size @delete-icon-size;
          
    .svg & {  
    	background-image: url(../images/svg/icon-delete.svg);
    }        
    .no-svg & {
    	background-image: url(../images/png/icon-delete.png);
    }
    
    
    &--big {
        width: @delete-icon-size--big;
        height: @delete-icon-size--big;
        
        background-size: @delete-icon-size--big @delete-icon-size--big;
    
        .no-svg & {
        	background-image: url(../images/png/icon-delete-big.png);
        }
    }
}

.back-link {
    position: relative;
            
    padding-left: 20px;
    
    font-size: 15px;
    font-weight: 400;
    color: @color-grayLight;    
    
    
    &:before {
        content: '';
        
        display: block;
        
        width: @back-icon-width;
        height: @back-icon-height;
        
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        
        margin: auto 0;
        
        transform: rotate(-180deg);
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @back-icon-width @back-icon-height;
              
        .svg & {  
        	background-image: url(../images/svg/icon-chevron.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-chevron.png);
        }
    }
}


@icon-gift-size: 20px;

.icon-gift {
    display: inline-block;
    
    width: @icon-gift-size;
    height: @icon-gift-size;
    
    background-repeat: no-repeat;
    background-position: left center;
    background-size: @icon-gift-size @icon-gift-size;
          
    .svg & {  
    	background-image: url(../images/svg/icon-gift.svg);
    }        
    .no-svg & {
    	background-image: url(../images/png/icon-gift.png);
    }
}


@icon-delivery-width: 24px;
@icon-delivery-height: 20px;

.icon-delivery {
    display: inline-block;
    
    width: @icon-delivery-width;
    height: @icon-delivery-height;
    
    background-repeat: no-repeat;
    background-position: left center;
    background-size: @icon-delivery-width @icon-delivery-height;
          
    .svg & {  
    	background-image: url(../images/svg/icon-delivery-gray.svg);
    }        
    .no-svg & {
    	background-image: url(../images/png/icon-delivery-gray.png);
    }
}


.table-container {
	width: 100%;
	
	overflow: auto;
}
