@btn-height: 42px;

.btn {
    display: inline-block;
    
    height: @btn-height;
    
    padding: 0 20px;
    margin: 0;

    box-shadow: inset 0 -3px 0 0 rgba(0,0,0,0.10);
    
    background: none;
    border: none;
    
    font-family: @font-base;
    font-size: 16px;
    font-weight: 700;
    line-height: @btn-height;
    text-align: center;
    text-decoration: none;
    color: @color-base;
    
    transition: background-color @transition;
    
    &:hover {
        cursor: pointer;
    }    
}

//Colors 
.btn {
    
    &--blue {
        background-color: @color-blue;
        
        color: white;
        
        &:hover {
            background-color: darken(@color-blue, 10%);
            
            color: white;
        }
    }
    
    &--gray {
        background-color: @color-grayLightSemi;
        
        color: white;
        
        &:hover {
            background-color: darken(@color-grayLightSemi, 10%);
            
            color: white;
        }
    }
    
}


//Sizes
.btn {
    
    &--full-width {
        width: 100%;
    }
    
    @btn-wide-horizontal-padding: 40px;
    
    &--wide {
        padding-left: @btn-wide-horizontal-padding;
        padding-right: @btn-wide-horizontal-padding;
    }
    
    
    @btn-large-height: 50px;
    
    &--large {
        height: @btn-large-height;
        
        line-height: @btn-large-height;
    }
    
    @btn-short-height: 32px;
    
    &--short {
        height: @btn-short-height;
        
        font-size: 14px;
        line-height: @btn-short-height;
    }
    
}


//Types 
.btn {
    
    @btn-add-to-basket-height: 32px;
    @btn-add-to-basket-icon-width: 15px;
    @btn-add-to-basket-icon-height: 15px;
    
    @btn-add-to-basket-icon-width-simple: 23px;
    @btn-add-to-basket-icon-height-simple: 19px;
    
    &--add-to-basket {
        height: @btn-add-to-basket-height;
        
        padding-left: 25px;
        padding-right: 0;
        
        box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.10);
        
        background-color: @color-blue;
        background-repeat: no-repeat;
        background-position: 10px center;
        background-size: @btn-add-to-basket-icon-width @btn-add-to-basket-icon-height;
              
        .svg & {  
        	background-image: url(../images/svg/icon-cart.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-cart-small.png);
        }
        
        font-size: 13px;
        font-weight: 700;
        line-height: @btn-add-to-basket-height;
        color: @color-white;
        
        
        &:hover {
            background-color: darken(@color-blue, 10%);
            
            color: @color-white;
        }
    }
    
    
    &--add-to-basket-simple {
        height: @btn-add-to-basket-height;
        
        padding-left: 0;
        padding-right: 0;
        
        box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.10);
        
        background-color: @color-blue;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: @btn-add-to-basket-icon-width-simple @btn-add-to-basket-icon-height-simple;
              
        .svg & {  
        	background-image: url(../images/svg/icon-cart.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-cart.png);
        }
        
        
        &:hover {
            background-color: darken(@color-blue, 10%);
        }
    }
    
    
    
    @btn-favorite-height: 32px;
    @btn-favorite-icon-size: 15px;
    
    &--favorite {
        height: @btn-favorite-height;
        
        padding: 0;
        
        box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.10);
        
        background-color: @color-blueLight;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: @btn-favorite-icon-size @btn-favorite-icon-size;
              
        .svg & {  
        	background-image: url(../images/svg/icon-star.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-star.png);
        }
        
        
        &:hover {
            background-color: darken(@color-blueLight, 10%);
        }
        
        &.active {
            background-color: @color-orange;
            
            .svg & {  
            	background-image: url(../images/svg/icon-star-active.svg);
            }        
            .no-svg & {
            	background-image: url(../images/png/icon-star-active.png);
            }
            
            &:hover {
                background-color: darken(@color-orange, 10%);
            }
        }
    }
    
    
    @btn-border-blue-arrow-width: 10px;
    @btn-border-blue-arrow-height: 16px;
    
    &--border-blue {
        position: relative;
        
        padding-right: 30px;
        
        box-shadow: none;
        border: 2px solid @color-blue;
        
        font-weight: 400;
        color: @color-blue;
        
        &:before {
            content: '';
            
            display: block;
            
            width: @btn-border-blue-arrow-width;
            height: @btn-border-blue-arrow-height;
            
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            
            margin: auto 0;
            
            background-repeat: no-repeat;
            background-position: left center;
            background-size: @btn-border-blue-arrow-width @btn-border-blue-arrow-height;
                  
            .svg & {  
            	background-image: url(../images/svg/btn-arrow-blue.svg);
            }        
            .no-svg & {
            	background-image: url(../images/png/btn-arrow-blue.png);
            } 
        }
        
        
        &:hover {
            border-color: @color-black;
            
            &:before {
                
                .svg & {  
                	background-image: url(../images/svg/btn-arrow-black.svg);
                }        
                .no-svg & {
                	background-image: url(../images/png/btn-arrow-black.png);
                } 
            
            }
        }
    }
    
    
    
    &--next {
        position: relative;
        
        padding-right: 40px;
        
        &:before {
            content: '';
            
            display: block;
            
            width: @chevron-large-icon-width;
            height: @chevron-large-icon-height;
            
            position: absolute;
            right: 10px;
            top: 0;
            bottom: 0;
            
            margin: auto 0;
            
            background-repeat: no-repeat;
            background-position: left center;
            background-size: @chevron-large-icon-width @chevron-large-icon-height;
                  
            .svg & {  
            	background-image: url(../images/svg/icon-chevron-white.svg);
            }        
            .no-svg & {
            	background-image: url(../images/png/icon-chevron-large-white.png);
            }
        }
        
    } 
    
}