.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-no-wrap {
    white-space: nowrap;
}

.clear {
    clear: both;
}

.clearfix {
    .clearfix();
}

.position-relative {
    position: relative;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-none {
    float: none;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-move {
    cursor: move;
}

.cursor-auto {
    cursor: auto;
}

.cursor-help {
    cursor: help;
}

.text-green {
    color: @color-green;
}

.text-red {
    color: @color-red;
}

.text-blue {
    color: @color-blueDarkExtra;
}
