

body {
    
    @media only screen and (max-width: 1300px) {
    
    	padding-top: 0;
    
    }
    
}

.inner-content {
    width: @inner-content-width;
    
    margin: 0 auto;
    
    @media @query-not-large-desktop {
    
    	width: 100%;
    
    }
}



@content-padding-top: 30px;
@content-padding-bottom: 110px;

.content {
    padding: @content-padding-top 0 @content-padding-bottom 0;
    
    background-color: @color-grayLightExtra;
    
    
    @media @query-not-large-desktop {
    
    	padding-left: @web-padding-mobile;
    	padding-right: @web-padding-mobile;
    
    }
    
    @media @query-tablet {
    
    	padding-bottom: @content-padding-bottom / 3;
    
    }
}


@content-left-width: 285px;

.content-left {
    float: left;
        
    width: @content-left-width;
    
    
    @media @query-large-desktop {
    
    	width: 25%;
    
    }
    
    @media @query-tablet {
    
    	display: none;
    
    }
}


@content-right-width: 795px;

.content-right {
    float: right;
        
    width: @content-right-width;
    
    
    @media @query-large-desktop {
    
    	width: 73%;
    
    }
    
    @media @query-tablet {
    
        float: none;
        
    	width: 100%;
    
    }
}

.product-list-description {
    margin-bottom: 50px;
}

.product-list-category-filter {
    margin-bottom: 40px;
}

.product-list {
    margin-bottom: 50px;    
}

.product-detail-wrapper {
    margin-bottom: 30px;
    
    &--bigger-gap {
        margin-bottom: 40px;
    }
    
    &--no-gap {
        margin-bottom: 0;
    }
    
    &__title {
        margin-bottom: 15px;
        
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
        color: @color-grayDark;
    }
}


.hp-label {
    display: block;
    
    padding-top: 20px;
    margin-bottom: 50px;
    
    font-family: Helvetica;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: @color-grayDark;
    
    
    @media @query-tablet {
    
        font-size: 30px;
    	line-height: 40px;
    
    }
    
    @media @query-mobile-sm {
    
    	font-size: 24px;
    	line-height: 30px;
    
    }
}

.favorite-categories {
    margin-bottom: 50px;
}


.banners {
    margin-bottom: 50px;
    
    .main-banner {
        margin-bottom: 15px;
    }
}


.basket-order-steps {

    margin-bottom: 35px;
    
}

.basket-title {
    float: left;
    
    font-weight: 400;
    line-height: 48px;
    
    margin-bottom: 30px;
    
    
    @media @query-mobile {
    
    	float: none;
    	
    	margin-bottom: 20px;
    
    }
}

.basket-free-delivery-counter {
    float: right;
    
    width: 410px;
    
    margin-bottom: 30px;
    
    
    @media @query-tablet {
    
    	width: 350px;
    
    }
    
    @media @query-mobile {
    
    	float: none;
    	
    	width: 100%;
    
    }
}

.basket-content {
    margin-bottom: 40px;
}

.basket-gifts {
    margin-bottom: 30px;
}

.basket-buttons {
    text-align: center;
    
    &__button {
        display: inline-block;
        
        margin: 0 20px 20px 20px;
    }
}

.order-left-side {
    float: left;
    
    width: 665px;
    
    
    @media @query-not-large-desktop {
    
    	width: 59%;
    
    }
    
    @media @query-tablet {
    
    	float: none;
    	
    	width: 100%;
    
    }
}

.order-right-side {
    float: right;
    
    width: 405px;
    
    
    @media @query-not-large-desktop {
    
    	width: 39%;
    
    }
    
    @media @query-tablet {
    
    	float: none;
    	
    	width: 100%;
    	
    	margin-bottom: 50px;
    
    }
}

.order-buttons {
    padding-top: 30px;
    
    
    @media @query-mobile-sm {
    
    	text-align: center;
    
    }
    
    &__button-back {
        float: left;
        
        margin-top: 20px;
        
        
        @media @query-mobile-sm {
        
        	float: none;
        	
        	display: inline-block;
        	
        	margin: 0 20px 20px 0;
        
        }
    }
    
    &__button-next {
        float: right;
        
        
        @media @query-mobile-sm {
        
        	float: none;
        	
        	display: inline-block;
        
        }
    }
}


.footer {
    width: @web-width;
    min-height: 586px;
    
    padding-top: 60px;
    margin: 0 auto;
    
    background: url(../images/footer-image.jpg) no-repeat right top;
    
    
    @media @query-large-desktop {
    
    	width: 100%;
    	
        background: none;
        
    }
    
    @media @query-not-large-desktop {
    
    	padding-left: @web-padding-mobile;
    	padding-right: @web-padding-mobile;
    
    }
    
    @media @query-tablet {
    
    	padding-top: 20px;
    
    }
}



@footer-right-width: 395px;
@footer-right-width-large-desktop: 35%;
@footer-right-width-not-large-desktop: 40%;

.footer-right {
    float: right;
    
    width: @footer-right-width;
    
    padding-left: 70px;
    
    
    @media @query-large-desktop {
    
    	width: @footer-right-width-large-desktop;
    	
    	padding-left: @web-padding-mobile;
    
    }
    
    @media @query-not-large-desktop {
    
    	width: @footer-right-width-not-large-desktop;
    
    }
    
    @media @query-tablet {
    
    	float: none;
    	
    	width: 100%;
    	
    	padding-left: 0;
    
    }
    
    
    &__category-navigation {
        margin-bottom: 50px;
        
        @media @query-tablet {
        
        	float: left;
        	
        	width: 30%;
        
        }
        
        @media @query-mobile {
        
        	width: 35%;
        
        }
        
        @media @query-mobile-sm {
        
        	float: none;
        	
        	width: 100%;
        	
        	
        	.category-navigation__list--wide .category-navigation__list-item {
            	margin-left: -15px;
        	}
        	
        	.category-navigation__link {
            	display: inline-block;
            	
            	margin-left: 15px;
        	}
        
        }
    }
    
    &__phone-email-contact {
        margin-bottom: 40px;
        
        @media @query-tablet {
        
        	float: right;
        	
        	width: 70%;
        
        }
        
        @media @query-mobile {
        
        	width: 65%;
        
        }
        
        @media @query-mobile-sm {
        
        	float: none;
        	
        	width: 100%;
        
        }
    }
}


@footer-left-width: @inner-content-width - @footer-right-width;
@footer-left-width-large-desktop: 100% - @footer-right-width-large-desktop;
@footer-left-width-not-large-desktop: 100% - @footer-right-width-not-large-desktop;

.footer-left {
    float: left;
    
    width: @footer-left-width;
    
    padding-right: 50px;
    
    
    @media @query-large-desktop {
    
    	width: @footer-left-width-large-desktop;
    	
    	padding-right: @web-padding-mobile;
    
    }
    
    @media @query-not-large-desktop {
    
    	width: @footer-left-width-not-large-desktop;
    
    }
    
    @media @query-tablet {
    
    	float: none;
    	
    	width: 100%;
    	
    	padding-right: 0;
    	padding-bottom: 50px;
    
    }
    
    @media @query-mobile-sm {
    
    	display: none;
    
    }
}

