.reset-ul() {
    padding: 0;
    margin: 0;

    list-style: none;
}

.reset-ul-list() {
    padding: 0;
    margin: 0;

    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    list-style: none;
}

.center-image(@border: 0) {
    position: absolute;
    top: @border;
    bottom: @border;
    right: @border;
    left: @border;

    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;

    margin: auto;
}

.clearfix() {
    *zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.eliminate-lines(@height-line, @count-line) {
    height: @height-line * @count-line;

    line-height: @height-line;

    overflow: hidden;
}

.font-face(@font-name, @font-file, @font-weight: '400', @font-style: 'normal') {
    @font-face {
        font-family: '@{font-name}';
        src: url('@{path-font}/@{font-file}.eot');
        src: url('@{path-font}/@{font-file}.eot?#iefix') format('embedded-opentype'),
            url('@{path-font}/@{font-file}.woff2') format('woff2'),
            url('@{path-font}/@{font-file}.woff') format('woff'),
            url('@{path-font}/@{font-file}.ttf') format('truetype'),
            url('@{path-font}/@{font-file}.svg#@{font-name}') format('svg');
        font-weight: @font-weight;
        font-style: @font-style;
    }
}

.border-dotted(@color, @gap-size) {
    background-image: linear-gradient(to right, @color (100% / @gap-size), rgba(255,255,255,0) 0%);
    background-top: bottom;
    background-size: @gap-size 1px;
    background-repeat: repeat-x;
}

.white-shadow-box() {
    box-shadow: 0 2px 4px rgba(21, 20, 20, 0.08), 0 1px 3px rgba(172, 164, 139, 0.1);
    background-color: #ffffff;
}