// timestamp for constrain browser to reload images
@timestamp: "?v=`( new Date() ).getTime()`";

// Paths
@path-design: '../images';

// Fonts
@font-base: Helvetica, Arial, sans-serif;
@font: @font-base;

@font-size: 13px;
@font-size-mobile: 12px;

// Layout
@web-width: 1440px;
@inner-content-width: 1120px;
@web-padding: 0;
@web-padding-mobile: 2%;
@header-mobile-contact-height: 35px;

@margin-gap: 25px;
@margin-gap-small: 10px;
@margin-gap-big: 40px;

// Colors
//// Classic colors of design
@color-white: #fff;
@color-black: #000;
@color-grayDark: #505050;
@color-grayDarkExtra: #08131f;
@color-grayLight: #4c5560;
@color-grayLightSemi: #9b9b9b;
@color-grayLightExtra: #ededee;
@color-blue: #0095da;
@color-blueLight: #dde2eb;
@color-blueLightExtra: #ebf9ff;
@color-blueDark: #003974;
@color-blueDarkExtra: #0D47A1;
@color-green: #45A530;
@color-red: #ED1C24;
@color-orange: #f9a555;
@color-orangeLight: #ffc483;
@color-yellow: #fff2dd;


//// Context colors
////// Base color of text
@color-base: @color-black;

////// Color for main links and its hover color
@color-link: @color-base;
@color-link-hover: @color-base;


// Other
//// Forms
@form-item-height: 45px;

//// Icons
@delete-icon-size: 12px;
@delete-icon-size--middle: 13px;
@delete-icon-size--big: 17px;
@chevron-icon-width: 6px;
@chevron-icon-height: 10px;
@chevron-large-icon-width: 13px;
@chevron-large-icon-height: 21px;
@back-icon-width: 9px;
@back-icon-height: 13px;
@delivery-icon-width: 36px;
@delivery-icon-height: 31px;
@calendar-icon-width: 34px;
@calendar-icon-height: 36px;
@payment-icon-width: 34px;
@payment-icon-height: 36px;
@magnif-glass-size: 24px;
@burger-icon-width: 25px;
@burger-icon-height: 22px;
@modal-close-size: 18px;

//// Borders
@border-thin-grayLight: 1px solid #dde2eb;
@border-input-gray: 2px solid #9da3a9;
@border-form-element: 1px solid #d2dee3;

//// Gradients

//// Backgrounds

//// Default transition settings
@transition-type: cubic-bezier(.8, .20, .48, 1.0);
@transition-time: 0.2s;
@transition: @transition-time @transition-type;

//// Default border radius value
@radius: 3px;

// Responsive breakpoints
@breakpoint-1: 380px;
@breakpoint-1-a: (@breakpoint-1 - 1);
@breakpoint-2: 480px;
@breakpoint-2-a: (@breakpoint-2 - 1);
@breakpoint-3: 620px;
@breakpoint-3-a: (@breakpoint-3 - 1);
@breakpoint-4: 960px;
@breakpoint-4-a: (@breakpoint-4 - 1);
@breakpoint-5: 1140px;
@breakpoint-5-a: (@breakpoint-5 - 1);
@breakpoint-6: 1460px;
@breakpoint-6-a: (@breakpoint-6 - 1);

//// Media queries
@query-base: only screen and;

////// Desktop first
@query-mobile-xs: ~"@{query-base} (max-width: @{breakpoint-1-a})";
@query-mobile-sm: ~"@{query-base} (max-width: @{breakpoint-2-a})";
@query-mobile: ~"@{query-base} (max-width: @{breakpoint-3-a})";
@query-tablet: ~"@{query-base} (max-width: @{breakpoint-4-a})";
@query-not-large-desktop: ~"@{query-base} (max-width: @{breakpoint-5-a})";
@query-large-desktop: ~"@{query-base} (max-width: @{breakpoint-6-a})";
