
@add-to-basket-height: 32px;
@add-to-basket-large-height: 49px;
@add-to-basket-horizontal-gap: 1%;

@add-to-basket-amount-width: 32%;
@add-to-basket-btn-basket-width: 50%;
@add-to-basket-btn-favorite-width: 16%;

@add-to-basket-amount-width-small: 48%;
@add-to-basket-btn-basket-width-small: 25%;
@add-to-basket-btn-favorite-width-small: 25%;

@add-to-basket-large-amount-basket-gap: 5%;
@add-to-basket-large-amount-gap-not-large-desktop: 1%;
@add-to-basket-large-basket-width-plus-not-large-desktop: @add-to-basket-large-amount-basket-gap - @add-to-basket-large-amount-gap-not-large-desktop;

@amount-controls-width: 18px;
@amount-controls-height: 13px;
@amount-controls-height-large: 28px;
    
.add-to-basket {
    position: relative;
    
    &__wrapper {
        font-size: 0;
        letter-spacing: 0;
        word-spacing: 0;
    }
    
    &__amount {
        display: inline-block;
        vertical-align: top;
        
        width: @add-to-basket-amount-width;
        height: @add-to-basket-height;
        
        position: relative;
        
        padding-right: @amount-controls-width;
        margin-right: @add-to-basket-horizontal-gap;
        
        border: @border-thin-grayLight;
        background-color: @color-white;
        
        font-size: 14px;
        font-weight: 400;
        line-height: @add-to-basket-height;
        text-align: left;
        color: @color-grayLight;
        
        
        @media @query-tablet {
        
        	display: block;
        	
        	width: 100%;
        	
        	margin-right: 0;
        	margin-bottom: 1%;
        
        }
        
        
        &--small {
            width: @add-to-basket-amount-width-small;
            
            
            @media @query-tablet {
            
            	width: 100%;
            
            }
        }
        
        
        .add-to-basket--large & {
            width: @add-to-basket-amount-width - 4%;
            height: @add-to-basket-large-height;
            
            margin-right: @add-to-basket-large-amount-basket-gap;
            padding: 0;
            
            border: none;
            
            
            @media @query-not-large-desktop {
            
            	margin-right: @add-to-basket-large-amount-gap-not-large-desktop;
            
            }
            
            @media @query-tablet {
            
            	width: 100%;
            	
            	margin-right: 0;
            
            }
        }
        
        .add-to-basket--only-amount & {
            width: 100%;
        }
    }
    
    &__amount-unit {
        display: inline-block;
        
        vertical-align: top;
        
        font-size: 11px;
        line-height: @add-to-basket-height
    }
    
    &__amount-input {
        width: 100%;
        height: @add-to-basket-height;
        
        padding: 0 10%;
        
        background: none;
        border: none;
        background-color: @color-white;
        border: @border-thin-grayLight;
        
        font-size: 13px;
        text-align: center;
        line-height: @add-to-basket-height;
        letter-spacing: 0.16px;
        
        
        .add-to-basket--large & {
            display: block;
            
            position: absolute;
            left: 0;
            bottom: 0;
        }
        
        .product-list &, .product-list-table &, .product-list-grid & {
            width: 50%;
            
            vertical-align: top;
            
            height: @add-to-basket-height - 2px;
            
            padding: 0 2%;
            margin-right: -4px;
            
            border: none;
            
            text-align: right;
            line-height: @add-to-basket-height - 2px;
        }
    }
    
    &__amount-label {
        position: absolute;
        left: 0;
        top: -2px;
        
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        color: @color-grayLightSemi;
    }
    
    
    &__amount-plus {
        display: block;
        
        width: @amount-controls-width;
        height: @amount-controls-height;
        
        position: absolute;
        right: 1px;
        top: 1px;
        
        background-color: @color-blueLight;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 12px 12px;
        
        transition: background-color @transition;
              
        .svg & {  
        	background-image: url(../images/svg/icon-plus.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-plus.png);
        }
        
        &:hover {
            background-color: darken(@color-blueLight, 10%);
        }
        
        
        .add-to-basket--large & {
            height: @amount-controls-height-large;
            
            top: inherit;
            bottom: 2px;
            right: 2px;
        }
    }
    
    &__amount-minus {
        display: block;
        
        width: @amount-controls-width;
        height: @amount-controls-height;
        
        position: absolute;
        right: 1px;
        bottom: 1px;
        
        background-color: @color-blueLight;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 12px 2px;
        
        transition: background-color @transition;
              
        .svg & {  
        	background-image: url(../images/svg/icon-minus.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-minus.png);
        }
        
        &:hover {
            background-color: darken(@color-blueLight, 10%);
        }
        
        
        .add-to-basket--large & {
            height: @amount-controls-height-large;
            
            left: 2px;
            bottom: 2px;
        }
    }
    
    
    @add-to-basket-icon-width-mobile: 20px;
    @add-to-basket-icon-height-mobile: 16px;
    
    &__basket-button {
        display: inline-block;
        vertical-align: top;
        
        width: @add-to-basket-btn-basket-width;
        height: @add-to-basket-height;
        
        margin-right: @add-to-basket-horizontal-gap;
        
        line-height: @add-to-basket-height;
        
        
        @media @query-tablet {
        
        	width: 71%;
        
        }
        
        @media @query-mobile {
        
            width: 50%;
            
            background-position: center center;
            background-size: @add-to-basket-icon-width-mobile @add-to-basket-icon-height-mobile;
            
            padding: 0;
            
            font-size: 0;
        
        }
        
        
        &--small {
            width: @add-to-basket-btn-basket-width-small;
            
            @media @query-tablet {
            
            	width: 71%;
            
            }
            
            @media @query-mobile {
            
            	width: 50%;
            
            }
        }
        
        
        .add-to-basket--large & {
            height: @add-to-basket-large-height;
            
            padding-left: 30px;
            
            background-size: 28px 24px;
              
            .no-svg & {
            	background-image: url(../images/png/icon-cart-large.png);
            }
        
            font-size: 18px;
            line-height: @add-to-basket-large-height;
            
            
            @media @query-not-large-desktop {
            
            	width: @add-to-basket-btn-basket-width + @add-to-basket-large-basket-width-plus-not-large-desktop;
            
            }
            
            @media @query-tablet {
            
            	width: 71%;
            
            }
            
            @media @query-mobile {
            
                background-position: 30% center;
            
            }
            
            @media @query-mobile-sm {
            
            	background-position: 20% center;
            
            }
            
            @media @query-mobile-xs {
            
            	background-position: 15% center;
            
            }
        }
    }
    
    &__favorite-button {
        display: inline-block;
        vertical-align: top;
        
        width: @add-to-basket-btn-favorite-width;
        height: @add-to-basket-height;
        
        line-height: @add-to-basket-height;
        
        
        @media @query-tablet {
        
        	width: 28%;
        
        }
        
        @media @query-mobile {
        
        	width: 49%;
        
        }
        
        
        &--small {
            width: @add-to-basket-btn-favorite-width-small;
            
            @media @query-tablet {
            
            	width: 28%;
            
            }
            
            @media @query-mobile {
            
            	width: 49%;
            
            }
        }
        
        
        .add-to-basket--large & {
            height: @add-to-basket-large-height;
            
            line-height: @add-to-basket-large-height;
            
            
            @media @query-tablet {
            
            	width: 28%;
            
            }
        }
    }
}