
@autocomplete-horizontal-gap: 15px;

.autocomplete {
    display: block;
    
    width: 100%;
    
    position: absolute;
    left: 0;
    top: @form-item-height;
    z-index: 2000;
    
    background-color: @color-white;
    border: 2px solid @color-blue;
    
    
    &__product-label {
        padding: 8px @autocomplete-horizontal-gap 0 @autocomplete-horizontal-gap;
        margin-bottom: 15px;
        
        font-size: 13px;
        font-weight: 700;
        color: @color-grayDark;
    }
    
    &__marked-text {
        display: inline-block;
        
        background-color: @color-orangeLight;
    }
    
    &__more-results {
        display: block;
        
        padding: 15px @autocomplete-horizontal-gap;
        
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        color: @color-blue;
    }
    
    &__category-label {
        padding: 7px @autocomplete-horizontal-gap;
        
        background-color: @color-blueLightExtra;
        border-top: @border-thin-grayLight;
        border-bottom: @border-thin-grayLight;
        
        font-size: 13px;
        color: @color-grayDark;
    }
    
    
    @autocomplete-category-list-vertical-padding: 20px;
    @autocomplete-category-list-item-vertical-gap: 10px;
    @autocomplete-category-list-icon-width: 16px;
    @autocomplete-category-list-icon-height: 12px;
    
    &__category-list {
        padding: @autocomplete-category-list-vertical-padding @autocomplete-horizontal-gap (@autocomplete-category-list-vertical-padding - @autocomplete-category-list-item-vertical-gap) @autocomplete-horizontal-gap;
        margin: 0;
        
        list-style: none;
        
        
        &__item {
            margin-bottom: @autocomplete-category-list-item-vertical-gap;
        }
        
        &__link {
            display: block;
            
            padding-left: 35px;
            
            background-repeat: no-repeat;
            background-position: left center;
            background-size: @autocomplete-category-list-icon-width @autocomplete-category-list-icon-height;
            
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            color: @color-grayDark;
                  
            .svg & {  
            	background-image: url(../images/svg/icon-folder.svg);
            }        
            .no-svg & {
            	background-image: url(../images/png/icon-folder.png);
            }
        }
        
        &__category {
            display: inline-block;
            
            position: relative;
            
            padding-right: 15px;
            margin-right: 5px;
            
            &:last-child {
                
                &:after {
                    display: none;
                    
                    padding-right: 0;
                    margin-right: 0;
                }
                
            }
            
            &:after {
                content: '';
                
                display: block;
                
                width: @chevron-icon-width;
                height: @chevron-icon-height;
                
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                
                margin: auto 0;
                
                background-repeat: no-repeat;
                background-position: left center;
                background-size: @chevron-icon-width @chevron-icon-height;
                      
                .svg & {  
                	background-image: url(../images/svg/icon-chevron.svg);
                }        
                .no-svg & {
                	background-image: url(../images/png/icon-chevron.png);
                }
            }
        }
    }
    
    
    &__all-results {
        padding: 15px @autocomplete-horizontal-gap;
        
        border-top: @border-thin-grayLight;
        
        text-align: center;
    }
    
    
    &__btn-detail {
        
        height: auto;
            
        padding: 10px 5px;
            
        font-size: 14px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
                
    }
    
    
    .product-list-table {
        
        &__table {
            
            @media @query-mobile-sm {
        
            	tr {
                	padding-left: @autocomplete-horizontal-gap;
            	}
            
            }
            
        }
        
        &__column-image {
            
            @media @query-large-desktop {
            
            	display: none;
            
            }
            
            @media @query-not-large-desktop {
            
            	display: table-cell;
            
            }
            
            @media @query-mobile {
            
            	display: none;
            
            }
            
        }
        
        &__column-name {
            
            @media @query-large-desktop {
            
            	width: 160px;
            	
            	padding-left: @autocomplete-horizontal-gap;
            
            }
            
            @media @query-not-large-desktop {
            
            	width: 300px;
            	
            	padding-left: 0;
            
            }
            
            @media @query-mobile {
                
                width: 150px;
            
            	padding-left: @autocomplete-horizontal-gap;
            
            }
            
            @media @query-mobile-sm {
            
                width: 100%;
                
            	padding: 0;
            	margin-bottom: 5px;
            
            }
            
        }
        
        &__column-availability {
            
            width: 125px;
            
            @media @query-large-desktop {
            
            	width: 170px;
            
            }
            
            @media @query-mobile-sm {
            
            	padding: 0;
            	
            	text-align: left;
            
            }
            
        }
        
    }
    
}