
@basket-table-header-height: 50px;
@basket-table-horizontal-gap: 20px;

@basket-table-horizontal-gap-tablet: 5px;
@basket-table-padding-mobile: 10px;

.basket-table {
    position: relative;
    
    padding: 0 @basket-table-horizontal-gap 20px @basket-table-horizontal-gap;
    
    
    @media @query-mobile {
    
    	padding: 0 0 20px 0;
    
    }
    
    
    &:before {
        content: '';
        
        display: block;
        
        width: 100%;
        height: 2px;
        
        position: absolute;
        left: 0;
        top: @basket-table-header-height;
        
        background-color: @color-blueLight;
        
        
        @media @query-mobile {
        
        	display: none;
        
        }
    }
    
    thead {
        
        th {
            height: @basket-table-header-height;
            
            padding: 0 @basket-table-horizontal-gap;
            
            font-size: 12px;
            font-weight: 400;
            color: @color-grayDark;
            
            
            &:first-child {
                padding-left: 0;
            }
        }
        
    }
    
    
    &__remove-all-wrapper {
        float: left;
        
        @media @query-mobile {
        
            float: none;
            
            margin-bottom: 20px;
            
        	text-align: center;
        
        }
            
    }
    
    &__remove-all {
        padding-left: 20px;
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @delete-icon-size--middle @delete-icon-size--middle;
              
        font-size: 15px;
        font-weight: 400;
        line-height: 50px;
        text-decoration: underline;
        color: @color-grayDark;      
              
        .svg & {  
        	background-image: url(../images/svg/icon-delete.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-delete.png);
        }
        
        
        @media @query-mobile {
        
        	display: inline-block;
        	
        	line-height: 20px;
        
        }
    }
    
    &__summary {
        float: right;
        
        font-size: 18px;
        font-weight: 400;
        text-align: right;
        color: @color-black;
        
        
        @media @query-tablet {
        
        	font-size: 17px;
        
        }
        
        @media @query-mobile {
        
        	float: none;
        	
        	padding-left: @web-padding-mobile;
        	padding-right: @web-padding-mobile;
        	margin: 0;
        	
        	text-align: center;
        
        }
        
        
        &__price {
            display: inline-block;
            
            margin-left: 10px;
            
            font-size: 30px;
            font-weight: 700;
            color: @color-blue;
            
            @media @query-tablet {
            
            	font-size: 28px;
            
            }
            
            @media @query-mobile {
            
                margin-left: 0;
            
            }
        }
        
        &__info {
            padding-top: 5px;
            
            font-size: 14px;
            color: @color-grayLightSemi;
        }
    }
    
    
    .product-list-table {
        
        &__table {
            width: 100%;
            
            margin-bottom: 20px;
            
            
            @media @query-mobile {
            
            	display: block;
            	
            	thead {
                	display: none;
            	}
            	
            	tbody, tr {
                	display: block;
                	
                	width: 100%;
            	}
            	
            	tr {
                	position: relative;
                	
                	padding: @basket-table-padding-mobile 120px @basket-table-padding-mobile @basket-table-padding-mobile;
                	
                	border-bottom: @border-thin-grayLight;
            	}
            	
            	th, td {
                	border: none;
            	}
            
            }
        }
        
        &__column-image {
            width: 50px;
            
            padding-left: 0;
            padding-right: 0;
            
            text-align: center;
            
            @media @query-tablet {
            
            	display: none;
            
            }
        }
        
        &__column-name {
            width: 420px;
            
            padding-left: 0;
            padding-right: @basket-table-horizontal-gap;
            
            text-align: left;
            
            
            @media @query-not-large-desktop {
            
            	width: 300px;
            
            }
            
            @media @query-tablet {
            
            	width: 250px;
            
                padding-right: @basket-table-horizontal-gap-tablet;
                
            }
            
            @media @query-mobile {
            
            	display: block;
            	
            	width: 100%;
            	
            	padding: 0;
            	margin: 0;
            
            }
        }
        
        &__column-availability {
            width: 130px;
            
            padding-left: @basket-table-horizontal-gap;
            padding-right: @basket-table-horizontal-gap;
            
            text-align: right;
            
            @media @query-tablet {
            
            	padding-left: @basket-table-horizontal-gap-tablet;
            	padding-right: @basket-table-horizontal-gap-tablet;
            
            }
            
            @media @query-mobile {
            
            	display: block;
            	
            	width: 100%;
            	
            	padding: 0;
            	margin-bottom: 10px;
            	
            	text-align: left;
            
            }
        }
        
        &__column-price {
            width: 110px;
            
            padding-left: @basket-table-horizontal-gap;
            padding-right: @basket-table-horizontal-gap;
            
            text-align: right;
            
            @media @query-tablet {
            
            	padding-left: @basket-table-horizontal-gap-tablet;
            	padding-right: @basket-table-horizontal-gap-tablet;
            
            }
            
            @media @query-mobile {
            
            	display: block;
            	
            	width: 100%;
            	
            	padding: 0;
            	
            	text-align: left;
            
            }
            
            
            &.mobile-hide {
                
                @media @query-mobile {
                
                	display: none;
                
                }
                
            }
        }
        
        &__column-amount {
            width: 100px;
            
            padding-left: @basket-table-horizontal-gap;
            padding-right: @basket-table-horizontal-gap;
            
            @media @query-tablet {
            
            	padding-left: @basket-table-horizontal-gap-tablet;
            	padding-right: @basket-table-horizontal-gap-tablet;
            
            }
            
            @media @query-mobile {
            
            	display: block;
            	
            	width: 70px;
                height: 32px;
                
                position: absolute;
                right: @basket-table-padding-mobile * 3;
                top: 0;
                bottom: 0;
                
                padding: 0;
                margin: auto 0;
            
            }
        }
        
        &__column-delete {
            width: 20px;
            
            padding-left: @basket-table-horizontal-gap;
            padding-right: @basket-table-horizontal-gap;
            
            text-align: center;
            
            @media @query-tablet {
            
            	padding-left: @basket-table-horizontal-gap-tablet;
            	padding-right: @basket-table-horizontal-gap-tablet;
            
            }
            
            @media @query-mobile {
            
            	display: block;
            	
            	width: 12px;
                height: 12px;
                
                position: absolute;
                right: @basket-table-padding-mobile;
                top: 0;
                bottom: 0;
                
                padding: 0;
                margin: auto 0;
            
            }
        }
        
        
        &__product-price {
            
            @media @query-mobile {
            
            	font-size: 18px;
            
            }
            
        }
        
    }
    
}