
@basket-dropdown-horizontal-gap: 15px;

.basket-dropdown {
    padding: 15px 0 30px;
    
    
    &__wrapper {
        padding: 0 @basket-dropdown-horizontal-gap;  
        
        
        @media @query-mobile {
        
        	text-align: center;
        
        }  
    }
    
    &__btn-wrapper {
        text-align: right;
        
        @media @query-mobile {
        
        	text-align: center;
        
        }
        
    }
    
    &__label {
        padding: 0 @basket-dropdown-horizontal-gap;
        margin-bottom: 10px;
        
        font-size: 20px;
        font-weight: 400;
        color: @color-black;
    }
    
    &__remove-all {
        float: left;
        
        padding-left: 20px;
        margin-top: 3px;
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @delete-icon-size @delete-icon-size;
              
        font-size: 13px;
        font-weight: 400;
        line-height: 14px;
        text-decoration: underline;
        color: @color-grayDark;      
              
        .svg & {  
        	background-image: url(../images/svg/icon-delete.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-delete.png);
        }
        
        
        @media @query-mobile {
        
        	float: none;
        	
        	display: inline-block;
        	
        	margin: 0 auto 20px auto;
        
        }
    }
    
    &__summary {
        float: right;
        
        margin-bottom: 20px;
        
        font-size: 18px;
        font-weight: 400;
        text-align: right;
        color: @color-black;
        
        
        @media @query-mobile {
        
        	float: none;
        	
        	text-align: center;
        
        }
        
        &__price {
            display: inline-block;
            
            margin-left: 10px;
            
            @media @query-mobile {
            
                margin-left: 0;
            
            }
        }
        
        &__info {
            padding-top: 2px;
            
            font-size: 14px;
            color: @color-grayLightSemi;
        }
    }
    
    .product-list-table {
        margin-bottom: 20px;
        
        
        &__table {
            
            @media @query-mobile-sm {
            
            	tr {
                	padding-left: @basket-dropdown-horizontal-gap;
                	padding-right: 130px;
            	}
            
            }
                
        }
        
        
        &__column-image {
            padding-left: @basket-dropdown-horizontal-gap;
            
            
            @media @query-mobile {
            
            	display: none;
            
            }
        }
        
        &__column-name {
            
            @media @query-mobile {
            
                width: 200px;
                
                padding-left: @basket-dropdown-horizontal-gap;	
                padding-right: 10px;
                
            }
            
            @media @query-mobile-sm {
            
            	width: 100%;
            	
            	padding: 0;
            	
            	margin-bottom: 0;
            
            }
            
        }
        
        &__column-availability {
            
            @media @query-mobile-sm {
            
                padding: 0;
                
            	text-align: left;
            
            }
            
        }
        
        &__column-price {
            
            @media @query-mobile-sm {
            
            	padding: 0;
            
            }
            
        }
        
        
        &__column-delete {
            padding-right: @basket-dropdown-horizontal-gap;
            
            @media @query-mobile-sm {
            
            	width: 12px;
                height: 12px;
                
                position: absolute;
                right: @basket-dropdown-horizontal-gap / 2;
                top: 0;
                bottom: 0;
                
                padding-right: 0;
                margin: auto 0;
            
            }
            
        }
        
        &__column-amount {
            width: 70px;
            
            @media @query-mobile-sm {
            
            	width: 70px;
                height: 32px;
                
                position: absolute;
                right: @basket-dropdown-horizontal-gap * 2;
                top: 0;
                bottom: 0;
                
                margin: auto 0;
            
            }
            
        }
        
    }
    
}