
.breadcrumbs {
    padding: 0;
    margin-bottom: 25px;
    
    font-size: 13px;
    font-weight: 400;


    &__link {
        display: inline-block;
        
        position: relative;
        
        padding-right: 20px;
        margin-right: 10px;
        
        text-decoration: underline;
        color: @color-grayDarkExtra !important;
        
        
        &:after {
            content: '';
            
            display: block;
            
            position: absolute;
            right: 0;
            top: 0;  
            bottom: 0;
            
            width: @chevron-icon-width;
            height: @chevron-icon-height;
            
            margin: auto 0;
              
            background-repeat: no-repeat;
            background-position: left top;
            background-size: @chevron-icon-width @chevron-icon-height;
            
            .svg & {
                background-image: url(../images/svg/icon-chevron.svg);
            }
            .no-svg & {
                background-image: url(../images/png/icon-chevron.png);
            }
        }
    }

    &__item {
        display: inline-block;
        
        color: @color-grayDark;
    }
}