
@category-filter-items-on-row: 3;
@category-filter-horizontal-gap: 2%;
@category-filter-vertical-gap: 2%;

@category-filter-items-on-row-mobile-sm: 2;
 
.category-filter {
    padding: 0;
    margin: 0 0 -@category-filter-vertical-gap -@category-filter-horizontal-gap;
    
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    list-style: none;
    
    
    &__item {
        display: inline-block;
        
        vertical-align: top;
        
        width: 100% / @category-filter-items-on-row - @category-filter-horizontal-gap;
        
        margin: 0 0 @category-filter-vertical-gap @category-filter-horizontal-gap;
        
        
        @media @query-mobile-sm {
        
        	width: 100% / @category-filter-items-on-row-mobile-sm - @category-filter-horizontal-gap;
        
        }
    }
    
    &__link {
        display: block;
        
        padding: 15px 20px;
        
        .white-shadow-box();
        
        text-decoration: none;
        font-size: 0;
        
        
        &:hover {
            box-shadow: 0 2px 4px rgba(21, 20, 20, 0.5), 0 1px 3px rgba(172, 164, 139, 0.5);
        }
    }
    
    &__img {
        display: inline-block;
        
        vertical-align: middle;
        
        width: 37%;
        
        margin-right: 6%;
        
        
        @media @query-tablet {
        
        	width: 27%;
        
        }
        
        @media @query-mobile {
        
        	display: none;
        
        }
        
        @media @query-mobile-sm {
        
        	display: inline-block;
        
        }
        
        @media @query-mobile-xs {
        
        	display: none;
        
        }
    }
    
    &__title {
        display: inline-block;
        
        vertical-align: middle;
        
        width: 57%;
        
        padding: 0;
        margin: 0;
        
        font-size: 15px;
        font-weight: 400;
        color: @color-black;
        
        
        @media @query-tablet {
        
        	width: 67%;
        
        }
        
        @media @query-mobile {
        
        	width: 100%;
        	min-height: 40px;
        
        }
        
        @media @query-mobile-sm {
        
        	width: 67%;
        	min-height: auto;
        
        }
        
        @media @query-mobile-xs {
        
        	width: 100%;
        	min-height: 40px;
        
        }
    }
}