
@category-navigation-icon-width: 8px;
@category-navigation-icon-height: 14px;

@category-navigation-list-items-on-row: 3;
@category-navigation-list-horizontal-gap: 2%;

@category-navigation-list-link-margin-bottom: 15px;

.category-navigation {
    
    &__title {
        padding: 0;
        margin: 0 0 30px 0;
        
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        color: @color-grayLight;
        
        
        @media @query-mobile {
        
        	margin-bottom: 15px;
        
        }
    }
    
    &__list {
        padding: 0;
        margin: 0 0 -@category-navigation-list-link-margin-bottom -@category-navigation-list-horizontal-gap;
        
        font-size: 0;
        letter-spacing: 0;
        word-spacing: 0;
        list-style: none;    
        
        
        &--wide {
            margin-left: 0;
        }
    }
    
    &__list-item {
        display: inline-block;
        vertical-align: top;
        
        width: 100% / @category-navigation-list-items-on-row - @category-navigation-list-horizontal-gap;
        
        margin: 0 0 0 @category-navigation-list-horizontal-gap;
        
        .category-navigation__list--wide & {
            width: 100%;
            
            margin-left: 0;
        } 
        
        .category-navigation__list--two-cols & {
            width: 100% / 2 - @category-navigation-list-horizontal-gap;
        } 
    } 
    
    &__link {
        display: block;
        
        position: relative;
        
        padding-left: 15px;
        margin-bottom: @category-navigation-list-link-margin-bottom;
        
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-decoration: none;
        color: @color-grayLight;
        
        &.active {
            font-weight: 700;
        }
        
        &:before {
            content: '';
            
            display: block;
            
            width: @category-navigation-icon-width/1.5;
            height: @category-navigation-icon-height/1.5;
            
            position: absolute;
            left: 0;
            top: 5px;
            
            background-repeat: no-repeat;
            background-position: left center;
            background-size: @category-navigation-icon-width/1.5 @category-navigation-icon-height/1.5;
                  
            .svg & {  
            	background-image: url(../images/svg/icon-side-navigation.svg);
            }        
            .no-svg & {
            	background-image: url(../images/png/icon-side-navigation.png);
            }
        }
        
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    
}