
@checkbox-size: 20px;

.checkbox {
    display: inline-block;

    min-height: @checkbox-size;
    
    position: relative;

    padding: 0 0 0 28px;
    
    &.no-label {
	    padding-left: 20px;
    }
    
    
    &__label {
        display: inline-block;
        vertical-align: top;
        
        font-size: 14px;
        line-height: @checkbox-size;
        font-weight: 400;
        color: @color-grayDarkExtra;
        
        &.required {
            
            &:before {
                content: '*';
                
                display: inline-block;
                
                margin-right: 5px;
                
                font-size: 16px;
                font-weight: 400;
                color: @color-red;
            }
            
        }
        
        &--bold {
            font-weight: 700;
        }
    }
    
    &__checkbox {
        display: block;

        width: @checkbox-size;
        height: @checkbox-size;
        
        position: absolute;
        left: 0;
        top: 0;
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @checkbox-size @checkbox-size;
              
        .svg & {  
        	background-image: url(../images/svg/checkbox.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/checkbox.png);
        }
    }
    

    &__input {
        display: none;

        &:checked {

            & + .checkbox__checkbox {
                
                .svg & {  
                	background-image: url(../images/svg/checkbox-active.svg);
                }        
                .no-svg & {
                	background-image: url(../images/png/checkbox-active.png);
                }
                
            }

        }
        
        &:disabled {

            & + .checkbox__checkbox {
                
                .svg & {  
                	background-image: url(../images/svg/checkbox-inactive.svg);
                }        
                .no-svg & {
                	background-image: url(../images/png/checkbox-inactive.png);
                }
                
            }

        }
    }
}