
.contact-box {
    .white-shadow-box();
    
    &__person {
        display: block;
        
        padding: 15px;
        
        background-color: @color-blue;
    }
    
    &__person-image {
        display: inline-block;
        
        vertical-align: middle;
        
        margin-right: 20px;
        
        border-radius: 50%;
        
        
        @media @query-not-large-desktop {
        
        	display: none;
        
        }
    }
    
    &__person-info {
        display: inline-block;
        
        vertical-align: middle;
    }
    
    &__person-name {
        margin-bottom: 0;
        
        font-size: 16px;
        font-weight: 700;
        color: @color-white;
    }
    
    &__person-position {
        margin-bottom: 0;
        
        font-size: 13px;
        font-weight: 400;
        color: #B3DFF3;
    }
 
    
    @details-padding-left: 60px;
    
    &__details {
        display: block;
        
        padding: 15px 20px;
        
        background-color: @color-white;
    }
    
    
    @contact-box-phone-icon-size: 28px;
    
    &__details-phone {
        display: block;
        
        padding-left: @details-padding-left;
        margin-bottom: 10px;
        
        background-repeat: no-repeat;
        background-position: 6px center;
        background-size: @contact-box-phone-icon-size @contact-box-phone-icon-size;
              
        .svg & {  
        	background-image: url(../images/svg/icon-phone.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-phone.png);
        }
        
        text-decoration: none;
        
        
        @media @query-not-large-desktop {
            
            padding-left: 0;
            
        	background: none;
        	
        	.svg & {  
            	background-image: none;
            }        
            .no-svg & {
            	background-image: none;
            }
        
        }
    }
    
    &__details-phone-number {
        font-size: 20px;
        font-weight: 400;
        color: @color-blue;
        
        @media @query-tablet {
        
        	font-size: 18px;
        
        }
    }
    
    &__details-phone-info {
        font-size: 13px;
        font-weight: 400;
        color: @color-grayDark;
    }
    
    
    @contact-box-email-icon-width: 28px;
    @contact-box-email-icon-height: 20px;
    
    &__details-email {
        display: block;
        
        padding-left: @details-padding-left;
        
        background-repeat: no-repeat;
        background-position: 6px center;
        background-size: @contact-box-email-icon-width @contact-box-email-icon-height;
              
        .svg & {  
        	background-image: url(../images/svg/icon-envelope.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-envelope.png);
        }
        
        text-decoration: none;
        
        
        @media @query-not-large-desktop {
            
            padding-left: 0;
            
        	background: none;
        	
        	.svg & {  
            	background-image: none;
            }        
            .no-svg & {
            	background-image: none;
            }
        
        }
    }
    
    &__details-email-address {
        font-size: 18px;
        font-weight: 400;
        text-decoration: underline;
        word-break: break-all;
        color: @color-blue;
        
        
        @media @query-tablet {
        
        	font-size: 16px;
        
        }
    }
    
    &__details-email-info {
        font-size: 14px;
        font-weight: 400;
        color: @color-grayDark;
    }
   
}


@details-padding-left: 30px;
@contact-box-phone-icon-size: 15px;

.contact-box--wide {
	
	.contact-box__details-phone-info {
        color: white;
    }	
    
    .contact-box__details-phone {
	    float: left;
	    
	    padding-left: @details-padding-left;
	    margin-bottom: 0;
	    
	    background-size: @contact-box-phone-icon-size @contact-box-phone-icon-size;
	    
	    @media @query-not-large-desktop {
            
            float: none;
            
            padding-left: @details-padding-left;
            margin-bottom: 6px;
            
        	background-repeat: no-repeat;
	        background-position: 6px center;
	        background-size: @contact-box-phone-icon-size @contact-box-phone-icon-size;
	              
	        .svg & {  
	        	background-image: url(../images/svg/icon-phone.svg);
	        }        
	        .no-svg & {
	        	background-image: url(../images/png/icon-phone.png);
	        }

        }
    }
    
    .contact-box__details {
	    padding-top: 20px;
	    padding-bottom: 20px;
	    
	    @media @query-not-large-desktop {
		    
		    padding-top: 17px;
		    padding-bottom: 17px;
		    
	    }
    }
    
    .contact-box__details-email {
	    float: right;
	    
	    padding-left: @details-padding-left;
	    margin-bottom: 0;
	    
	    background-size: @contact-box-phone-icon-size @contact-box-phone-icon-size;
	    
	    @media @query-not-large-desktop {

			float: none;
			
		    background-repeat: no-repeat;
	        background-position: 6px center;
	        background-size: @contact-box-phone-icon-size @contact-box-phone-icon-size;
	              
	        .svg & {  
	        	background-image: url(../images/svg/icon-envelope.svg);
	        }        
	        .no-svg & {
	        	background-image: url(../images/png/icon-envelope.png);

	        }
        }
    }
    
    .contact-box__details-phone-number {
	    font-size: 13px
    }
    
    .contact-box__details-email-address {
	    font-size: 13px
    }
    
    
    .contact-box__person-image {
        
        @media @query-not-large-desktop {
        
        	display: inline-block;
        	
        	width: 60px;
        	height: 60px;
        
        }
        
    }
	
}

