
.copyright {
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    color: @color-grayLight;
    
    
    @media @query-tablet {
    
    	clear: both;
    	
    	text-align: center;
    
    }
    
    &__logo {
        display: inline-block;
        vertical-align: top;
        
        position: relative;
        top: 1px;
        
        margin-left: 10px;
    }
}