
@description-block-left-width: 430px;
@description-block-right-width: 330px;

@description-block-font-size: 16px;
@description-block-font-weight: 400;
@description-block-line-height: 24px;
@description-block-color: @color-grayDark;

.description-block {
    font-size: @description-block-font-size;
    font-weight: @description-block-font-weight;
    line-height: @description-block-line-height;
    color: @color-grayDark;
    
    h1, h2, h3, h4, h5, h6 {
        padding-top: 20px;
    }
    
    & *:last-child {
        margin-bottom: 0 !important;
    }
    
    p {
        font-size: @description-block-font-size;
        font-weight: @description-block-font-weight;
        line-height: @description-block-line-height;
        color: @description-block-color;
    }
    
    
    ul, ol {
        margin-bottom: @margin-gap;
        
        li {
            margin-bottom: 10px;
            
            font-size: @description-block-font-size;
            font-weight: @description-block-font-weight;
            line-height: @description-block-line-height;
            color: @color-grayDark;
        }
    }
    
    ul {
        list-style: none;
        
        li {
            position: relative;
            
            &:before {
                content: '';
                
                display: block;
                
                width: 5px;
                height: 5px;
                
                position: absolute;
                left: -15px;
                top: 8px;
                
                background-color: @color-blue;
                border-radius: 50%;
            }
            
        }
    }
    
    
    .table-container {
        margin-bottom: @margin-gap;
    }
    
    table {
        margin-bottom: @margin-gap;
        
        &.full-width {
	        width: 100%;
        }
        
        &.with-highlight {
	        
	        tr:hover {
		        
		        td {
			        background-color: @color-orangeLight;
		        }
		        
	        }
	        
        }
        
        th, td {
            padding: 10px 20px;
        }        
        
        th {
            background-color: @color-blue;
            
            font-size: @description-block-font-size;
            font-weight: 400;
            text-align: left;
            color: @color-white;  
            
            &.text-center {
	            text-align: center;
            }
            
            &.text-right {
	            text-align: right;
            }
        }
        
        td {
            border-top: @border-thin-grayLight;
            border-bottom: @border-thin-grayLight;
            
            font-size: 14px;
            font-weight: 400;
            color: @color-grayDark;
        }
        
        tr:nth-child(even) {
            
            td {
                background-color: @color-blueLight;
            }
            
        }
        
        tr.summary {
	        
	        td, th {
		        background-color: @color-blue;
            
	            font-size: @description-block-font-size;
	            font-weight: 400;
	            color: @color-white;  
	        }
	        
	        &--big {
		        
		        td, th {
			        font-size: 20px;
			        font-weight: 700;
		        }
	        
	        }
	        
        }
        
        
            
    }
    
    
    &__left {
        float: left;
        
        width: @description-block-left-width;
        
        
        @media @query-not-large-desktop {
        
        	width: 55%;
        
        }
        
        @media @query-mobile {
        
        	float: none;
        	
        	width: 100%;
        	
        	margin-bottom: 30px;
        
        }
    }
    
    &__right {
        float: right;
        
        width: @description-block-right-width;
        
        
        @media @query-not-large-desktop {
        
        	width: 40%;
        
        }
        
        @media @query-mobile {
        
        	float: none;
        	
        	width: 100%;
        
        }
    }
    
}