
@distribution-terms-height: 239px;
@distribution-terms-vertical-gap: 40px;
@distribution-terms-left-width: 280px;
@distribution-terms-right-width: 650px;
@distribution-terms-bg-color-light: #e2e8f0;
@distribution-terms-bg-color-dark: #4b555f;

.distribution-terms {
    width: 100%;
    height: @distribution-terms-height;
    
    position: relative;
    
    background-color: @color-blueLight;
    
    
    @media @query-not-large-desktop {
    
    	height: auto;
    
    }
    
    
    &:before {
        content: '';
        
        display: block;
        
        width: 50%;
        height: 100%;
        
        position: absolute;
        left: 0;
        top: 0;
        
        background-color: @distribution-terms-bg-color-dark;    
        
        
        @media @query-large-desktop {
        
        	width: 35%;
        
        }
        
        @media @query-not-large-desktop {
        
        	display: none;
        
        }
    }
    
    &:after {
        content: '';
        
        display: block;
        
        width: 50%;
        height: 100%;
        
        position: absolute;
        right: 0;
        top: 0;
        
        background-color: @distribution-terms-bg-color-light;
        
        
        @media @query-large-desktop {
        
        	width: 65%;
        
        }
        
        @media @query-not-large-desktop {
        
        	display: none;
        
        }
    }
    
    
    &__wrapper {
        width: @web-width;
        height: @distribution-terms-height;
        
        position: relative;
        z-index: 10;
        
        padding-top: @distribution-terms-vertical-gap;
        margin: 0 auto;
        
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
              
        .svg & {  
        	background-image: url(../images/svg/distribution-bg.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/distribution-bg.png);
        }
        
        
        @media @query-large-desktop {
        
        	width: 100%;
        	
        	.svg & {  
            	background: none;
            }        
            .no-svg & {
            	background: none;
            }
        
        }
        
        @media @query-not-large-desktop {
        
        	height: auto;
        	
        	padding: @distribution-terms-vertical-gap @web-padding-mobile;
        
        }
        
        @media @query-mobile-sm {
        
        	padding-top: @distribution-terms-vertical-gap / 2;
        	padding-bottom: @distribution-terms-vertical-gap / 2;
        
        }
    }
    
    
    &__left {
        float: left;
        
        width: @distribution-terms-left-width;
        
        
        @media @query-not-large-desktop {
        
        	float: none;
        	
        	width: 100%;
        	
        	margin-bottom: 20px;
        
        }
    }
    
    &__right {
        float: right;
        
        width: @distribution-terms-right-width;
        
        padding-top: 10px;
        
        
        @media @query-not-large-desktop {
        
        	float: none;
        	
        	width: 100%;
        
        }
    }
    
    &__main-label {
        padding: 0;
        margin: 0;
        
        font-size: 36px;
        font-weight: 300;
        line-height: 56px;
        color: @color-white;
        
        
        @media @query-not-large-desktop {
        
            text-align: center;
            line-height: 44px;
        	color: @color-grayDark;
        
        }
        
        @media @query-mobile {
        
        	font-size: 32px;
        	line-height: 38px;
        
        }
        
        @media @query-mobile-sm {
        
        	font-size: 28px;
        	line-height: 32px;
        
        }
    }
    
    &__label {
        margin-bottom: 5px;
        
        font-size: 18px;
        color: @color-grayDark;
        
        
        @media @query-not-large-desktop {
        
        	text-align: center;
        
        }
    }
    
    &__locality {
        margin-bottom: 25px;
        
        font-size: 36px;
        color: @color-grayDark;
        
        
        @media @query-not-large-desktop {
        
        	text-align: center;
        
        }
        
        @media @query-mobile {
        
        	font-size: 32px;
        
        }
        
        @media @query-mobile-sm {
        
        	font-size: 28px;
        
        }
    }
    
    
    @distribution-terms-list-items-on-row: 3;
    @distribution-terms-list-horizontal-gap: 1%;
    @distribution-terms-list-vertical-gap: 1%;
    
    &__list {
        padding: 0;
        margin: 0 0 -@distribution-terms-list-vertical-gap -@distribution-terms-list-horizontal-gap;
        
        font-size: 0;
        letter-spacing: 0;
        word-spacing: 0;
        list-style: none;
        
        
        @media @query-mobile-sm {
        
        	margin-left: 0;
        
        }
    }
    
    &__list-item {
        display: inline-block;
        vertical-align: top;
        
        width: 100% / @distribution-terms-list-items-on-row - @distribution-terms-list-horizontal-gap;
        
        margin: 0 0 @distribution-terms-list-vertical-gap @distribution-terms-list-horizontal-gap;
        
        
        @media @query-mobile-sm {
        
        	width: 100%;
        	
        	margin-left: 0;
        
        }
    }
    
    &__term {
        display: block;
        
        padding: 10px 20px;
        
        border: 2px solid @color-blue;
        
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0.18px;
        text-align: center;
        color: @color-grayDark;
        
        
        @media @query-tablet {
        
            padding-left: 10px;
            padding-right: 10px;
            
        	font-size: 16px;
        
        }
        
        @media @query-mobile {
        
            padding-left: 5px;
            padding-right: 5px;
            
        	font-size: 14px;
        
        }
        
        @media @query-mobile-sm {
        
            font-size: 16px;
        
        }
    }
    
}