
@detail-box-icon-width: 30px;
@detail-box-icon-height: 33px;

.download-box {
    .white-shadow-box();
        
    &__list {
        padding: 0;
        margin: 0;
        
        list-style: none;
    }
    
    &__list-item {
        display: block;
        
        border-bottom: @border-thin-grayLight;
        
        
        &:last-child {
            border-bottom: none;
        }
    }
    
    &__link {
        display: block;
        
        padding: 25px 30px;
        
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        color: @color-blue;
        
        
        @media @query-mobile {
        
        	text-align: center;
        
        }
        
        
        &:before {
            content: '';
            
            display: inline-block;
            vertical-align: middle;
            
            width: @detail-box-icon-width;
            height: @detail-box-icon-height;
            
            margin-right: 15px;
            
            background-repeat: no-repeat;
            background-position: left center;
            background-size: @detail-box-icon-width @detail-box-icon-height;
                  
            .svg & {  
            	background-image: url(../images/svg/icon-attachment.svg);
            }        
            .no-svg & {
            	background-image: url(../images/png/icon-attachment.png);
            }
            
            
            @media @query-mobile {
            
            	display: block;
            	
            	margin: 0 auto 20px auto;
            
            }
        }
    }
}