
.extra-message {
    position: relative;
    
    padding: 20px 80px;
    
    background-color: @color-yellow;
    
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: @color-black;
    
    
    @media @query-mobile-sm {
    
    	padding-left: 40px;
    	padding-right: 40px;
    
    }
    
    
    &__delete-link {
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        
        margin: auto 0;
    }
}