
@favorite-products-height: 45px;
@favorite-products-btn-width: 45px;

.favorite-products {
    height: @favorite-products-height;
    
    position: fixed;
    left: 25px;
    bottom: 0;
    z-index: 1000;
    
    box-shadow: 0 -2px 4px rgba(21, 20, 20, 0.08), 0 1px 3px rgba(172, 164, 139, 0.1);
    
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    
    
    &__btn-favorite {
        display: inline-block;
        vertical-align: top;
        
        width: @favorite-products-btn-width;
        height: @favorite-products-height;
        
        line-height: @favorite-products-height;
        
        &.active:hover {
            background-color: @color-orange;
        }
    }
    
    &__btn-text {
        display: inline-block;
        vertical-align: top;
        
        height: @favorite-products-height;
        
        padding: 0 20px; 
        
        background-color: @color-white;
        
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        line-height: @favorite-products-height;
        
        
        &__number {
            color: @color-grayDark;
        }
        
        &__text {
            text-decoration: underline;
            color: @color-blue;
        }
        
        
        &:hover {
            
            .favorite-products__btn-text__text {
                text-decoration: none;
                color: @color-black;
            }
            
        }
    }
    
    &__btn-delete {
        display: inline-block;
        vertical-align: top;
        
        width: @favorite-products-btn-width;
        height: @favorite-products-height;
        
        border-left: @border-thin-grayLight;
        background-color: @color-white;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: @delete-icon-size @delete-icon-size;
              
        line-height: @favorite-products-height;
        
        
        .svg & {  
        	background-image: url(../images/svg/icon-delete.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-delete.png);
        }
    }
}