
@free-gifts-list-items-on-row: 2;
@free-gifts-list-horizontal-gap: 5%;

.free-gifts {
    
    &__title {
        margin-bottom: 15px;
        
        font-size: 22px;
        color: @color-grayDarkExtra;
    }
    
    &__wrapper {
        padding: 0 35px;
        
        .white-shadow-box();
        
        
        @media @query-mobile {
        
        	padding: 0 10px;
        
        }
    }
    
    
    &__list {
        padding: 0;
        margin: 0 0 0 -@free-gifts-list-horizontal-gap;
        
        font-size: 0;
        letter-spacing: 0;
        word-spacing: 0;
        list-style: none;
        
        
        @media @query-mobile-sm {
        
        	margin-left: 0;
        
        }
        
        
        &__item {
            display: inline-block;
            vertical-align: top;
            
            width: 100% / @free-gifts-list-items-on-row - @free-gifts-list-horizontal-gap;
            
            padding: 20px 0;
            margin: 0 0 0 @free-gifts-list-horizontal-gap;
            
            border-bottom: @border-thin-grayLight;
            
            
            @media @query-mobile-sm {
            
            	width: 100%;
            	
            	margin-left: 0;
            
            }
            
            &--no-border {
                border: none;
            }
            
            &--disabled {
                
                @media @query-mobile-sm {
                
                	display: none;
                
                }
                
            }
        }
    }
    
    &__table {
        width: 100%;
        
        margin: 0;
        
        
        @media @query-tablet {
        
        	display: block;
        	
        	tbody, tr {
            	display: block;
            	
            	width: 100%;
        	}
        
        }
        
        
        td {
            vertical-align: middle;
            
            @media @query-tablet {
            
            	display: block;
            	
            	width: 100%;
            	
            	padding: 0 0 10px 0;
            	
            	text-align: center;
            
            }
        }
        
        &__column-radio {
            width: 30px;
            
            padding-left: 0;
            padding-right: 10px;
        }
        
        &__column-image {
            width: 70px;
            
            padding-left: 0;
            padding-right: 10px;
            
            
            .free-gifts__list__item--disabled & {
                opacity: .5;
            }
        }
        
        &__column-description {
            width: 280px;
            
            padding-left: 0;
            padding-right: 50px;
            
            .free-gifts__list__item--disabled & {
                opacity: .5;
            }
        }
        
        &__column-price {
            width: 70px;
            
            padding-left: 0;
            padding-right: 0;
            
            .free-gifts__list__item--disabled & {
                opacity: .5;
            }
        }
    }
    
    
    &__gift-image {
        display: block;
        
        min-height: 60px;
        
        image {
            display: block;
        }
    }
    
    &__gift-name {
        display: block;
        
        font-size: 16px;
        font-weight: 400;
        text-decoration: none;
        color: @color-black;
        
        a&:hover {
            text-decoration: underline;    
        }
    }
    
    &__gift-description {
        font-size: 12px;
        line-height: 18px;
        color: @color-grayLightSemi;
    }
    
    &__gift-price {
        font-size: 18px;
        font-weight: 400;
        text-align: right;
        color: @color-green;
        
        
        @media @query-tablet {
        
        	text-align: center;
        
        }
    }
    
}