
.free-delivery-counter {
    
    &__label {
        margin-bottom: 10px;
        
        font-size: 15px;
        font-weight: 400;
        text-align: right;
        color: @color-black;
        
        
        @media @query-tablet {
        
        	font-size: 14px;
        
        }
        
        @media @query-mobile {
        
        	text-align: left;
        
        }
    }
    
    &__progress {
        width: 100%;
        height: 19px;
        
        position: relative;
        
        border: 1px solid #dedede;
        background-color: #ffffff;
        
        
        &__bar {
            display: block;
            
            height: 100%;
            
            position: absolute;
            left: 0;
            top: 0;
            
            background-repeat: repeat-x;
            background-position: left top;
            background-image: url(../images/progress-bar-pattern.png);
        }
    }
    
    
    
}