
@header-height: 100px;
@header-logo-width: 150px;
@header-contact-width: 300px;
@header-search-width: 600px;
@header-languages-width: 80px;
@header-account-width: 125px;
@header-basket-width: 130px;
@header-inner-padding-top: 27px;
@header-account-basket-padding-top: 75px;

@header-height-mobile: 50px;
@header-search-width-mobile: 50px;
@header-account-width-mobile: 50px;
@header-basket-width-mobile: 50px;
@header-inner-padding-top-mobile: 10px;
@header-horizontal-padding-mobile: 10px;

.header {
    width: @web-width;
    height: @header-height;
    
    position: relative;
    
    margin: 0 auto;
    
    box-shadow: 0 2px 4px rgba(21, 21, 21, 0.08), 0 1px 3px rgba(173, 164, 139, 0.1);
    
    
    @media @query-large-desktop {
    
    	width: 100%;
    
    }
    
    @media @query-mobile {
    
    	height: @header-height-mobile;
    
    }
    
    
    &__logo {
        float: left;
        
        display: block;
        
        position: relative;
        z-index: 100;
        
        width: @header-logo-width;
        height: @header-height;
        
        padding: 30px 20px 0 20px;
        
        border-right: @border-thin-grayLight;
        
        
        @media @query-tablet {
        
        	border-right: none;
        
        }
        
        @media @query-mobile {
        
            width: auto;
        	height: @header-height-mobile;
        
            padding: @header-inner-padding-top-mobile @header-horizontal-padding-mobile 0 @header-horizontal-padding-mobile;
            
        }
        
        img {
            display: block;
            
            
            @media @query-mobile {
            
                width: auto;
            	height: 80%;
            
            }
        }
    }
    
    &__contact {
        float: left;
        
        width: @header-contact-width;
        
        padding: @header-inner-padding-top 30px 0 30px;
        
        
        @media only screen and (max-width: 1300px) {
        
            display: none;
        
        }
    }
    
    &__search {
        float: left;
        
        width: @header-search-width;
        
        position: relative;
        
        padding-top: @header-inner-padding-top;
        
        
        .autocomplete {
            display: none;
            
            top: @form-item-height + @header-inner-padding-top - 2px;
            
            
            @media @query-not-large-desktop {
            
            	top: @form-item-height - 2px;
            
            }
        }
        
        
        @media @query-large-desktop {
        
        	width: 45%;
        
        }
        
        @media only screen and (max-width: 1300px) {
	        
	        position: absolute;
        	left: 0;
        	right: 0;
        	top: 30px;
        	
        	width: 100%;
        	
        	padding: 0 280px 0 170px;
	        
        }
        
        @media @query-tablet {
        
        	display: none;
        	
        	width: 100%;
        	
        	position: absolute;
        	left: 0;
        	right: 0;
        	top: @header-height;
        	z-index: 100;
        	
        	padding: 0;
        
        }
        
        @media @query-mobile {
        
        	top: @header-height-mobile;
        
        }
    }
    
    &__right-side {
        float: right;
    }
    
    &__mobile-navigation-trigger {
        float: left;
        
        display: none;
        
        width: @burger-icon-width;
        height: @header-height;
        
        padding: 0 40px;
        
        
        @media @query-tablet {
        
        	display: block;
        
        }
        
        @media @query-mobile {
        
            width: @header-search-width-mobile;
        	height: @header-height-mobile;
        	
        	padding: 0;
        
        }
    }
    
    &__search-rwd {
        float: left;
        
        display: none;
        
        width: @magnif-glass-size;
        height: @header-height;
        
        padding: 0 40px;
        
        
        @media @query-tablet {
        
        	display: block;
        
        }
        
        @media @query-mobile {
        
            width: @header-search-width-mobile;
        	height: @header-height-mobile;
        	
        	padding: 0;
        
        }
    }
    
    &__languages {
        float: left;
        
        width: @header-languages-width;
        
        padding-top: @header-inner-padding-top;
        margin-left: 25px;
        margin-right: 30px;
        
        
        @media @query-large-desktop {
        
        	display: none;
        
        }
    }
    
    &__account {
        float: left;
        
        width: @header-account-width;
        height: @header-height;
        
        
        @media @query-mobile {
        
        	width: @header-account-width-mobile;
        	height: @header-height-mobile;
        	
        	padding: 0;
        
        }
    }
    
    &__basket {
        float: left;
        
        width: @header-basket-width;
        height: @header-height;
        
        
        @media @query-mobile {
        
        	width: @header-basket-width-mobile;
        	height: @header-height-mobile;
        	
        	padding: 0;
        
        }
    }
}


.mobile-navigation-trigger {
    box-shadow: -1px 0 0 #dde2eb;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: @burger-icon-width @burger-icon-height;
          
    .svg & {  
    	background-image: url(../images/svg/icon-burger.svg);
    }        
    .no-svg & {
    	background-image: url(../images/png/icon-burger.png);
    }
}

.search-rwd {
    box-shadow: -1px 0 0 #dde2eb;
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: @magnif-glass-size @magnif-glass-size;
          
    .svg & {  
    	background-image: url(../images/svg/icon-magnif-glass.svg);
    }        
    .no-svg & {
    	background-image: url(../images/png/icon-magnif-glass.png);
    }
}

.header-contact {
    
    @media only screen and (max-width: 1300px) {
    
    	display: none;
    
    }
    
    @media @query-mobile-xs {
    
    	text-align: center;
    
    }
    
    &__phone {
        display: inline-block;
        
        padding-left: 25px;
        margin-right: 10px;
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px 20px;
        
        .svg & {
            background-image: url(../images/svg/icon-phone.svg);
        }
        .no-svg & {
            background-image: url(../images/png/icon-phone.png);
        }
        
        color: @color-blue;
        font-size: 23px;
        font-weight: 400;
        text-decoration: none;
        
        
        &:hover {
            color: @color-blue;
        }
        
        
        @media only screen and (max-width: 1300px) {
        
        	float: right;
        	
        	margin-right: 0;
        
        }
        
        @media @query-mobile-xs {
        
        	float: none;
        
        }
    }
    
    &__open-hours {
        display: inline-block;
        
        color: @color-grayLightSemi;
        font-size: 13px;
        font-weight: 400;
        
        @media only screen and (max-width: 1300px) {
        
            display: none;
        
        }
    }
    
    &__person {
        padding-top: 5px;
        
        font-size: 13px;
        color: black;
        
        @media @query-tablet {
        
        	float: left;
        	
        	padding-top: 5px;
        
        }
        
        @media @query-mobile-xs {
        
        	display: none;
        
        }
    }
    
}


@header-account-silhouette-size: 36px;
@header-icon-dropdown-width: 10px;
@header-icon-dropdown-height: 6px;

@header-account-silhouette-size-mobile: @header-account-silhouette-size / 1.2;

.header-account {
    display: block;
    
    position: relative;
    
    box-shadow: -1px 0 0 #dde2eb;
    
    &:before {
        content: '';
        
        display: block;
        
        width: @header-account-silhouette-size;
        height: @header-account-silhouette-size;
        
        position: absolute;
        left: 35px;
        top: 25px;
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @header-account-silhouette-size @header-account-silhouette-size;
        
        .svg & {        
            background-image: url(../images/svg/icon-user-silhouette.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-user-silhouette.png);
        }
        
        
        @media @query-mobile {
        
            width: @header-account-silhouette-size-mobile;
            height: @header-account-silhouette-size-mobile;
            
        	left: 0;
        	right: 0;
        	top: 0;
        	bottom: 0;
        	
        	margin: auto;
        	
        	background-size: @header-account-silhouette-size-mobile @header-account-silhouette-size-mobile;
        
        }
    }
    
    &:after {
        content: '';
        
        display: block;
        
        width: @header-icon-dropdown-width;
        height: @header-icon-dropdown-height;
        
        position: absolute;
        right: 35px;
        top: 45px;
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @header-icon-dropdown-width @header-icon-dropdown-height;
        
        .svg & {        
            background-image: url(../images/svg/icon-dropdown.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-dropdown.png);
        }
        
        
        @media @query-mobile {
        
        	display: none;
        
        }
    }
    
    
    &:hover {
        
        .header-account__dropdown {
            display: block;
        }
        
    }
    
    
    &__link {
        display: block;
        
        width: 100%;
        height: 100%;
        
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1100;
        
        padding-top: @header-account-basket-padding-top;
        
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        text-align: center;
        color: @color-grayDarkExtra;
        
        
        @media @query-mobile {
        
        	padding-top: 0;
        
        }
    }
    
    &__content {
        
        @media @query-mobile {
        
        	display: none;
        
        }
        
    }
    
    &__dropdown {
        width: 330px;
        
        
        @media @query-mobile-sm {
        
        	width: 300px;
        
        }
        
        @media @query-mobile-xs {
        
        	width: 250px;
        
        }
        
        
        &:before {
            width: @header-account-width - @header-dropdown-border-size;
            
            
            @media @query-mobile {
            
            	width: @header-account-width-mobile - @header-dropdown-border-size;
            
            }
        }
        
        &:after {
            width: @header-account-width - @header-dropdown-border-size;
            
            
            @media @query-mobile {
            
            	width: @header-account-width-mobile - @header-dropdown-border-size;
            
            }
        }
        
    }
}


@header-basket-icon-width: 36px;
@header-basket-icon-height: 31px;
@header-basket-amount-size: 24px;

@header-basket-icon-width-mobile: @header-basket-icon-width / 1.4;
@header-basket-icon-height-mobile: @header-basket-icon-height / 1.4;
@header-basket-amount-size-mobile: @header-basket-amount-size / 1.4;
 
.header-basket {
    position: relative;
    
    padding-top: @header-account-basket-padding-top;
    
    background-color: #4c5560;
    
    
    @media @query-mobile {
    
    	padding-top: 0;
    
    }
    
    &:before {
        content: '';
        
        display: block;
        
        width: @header-basket-icon-width;
        height: @header-basket-icon-height;
        
        position: absolute;
        left: 0;
        right: 0;
        top: 28px;

        margin: 0 auto;
                
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @header-basket-icon-width @header-basket-icon-height;
        
        .svg & {        
            background-image: url(../images/svg/icon-cart.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-cart.png);
        }
        
        
        @media @query-mobile {
        
            width: @header-basket-icon-width-mobile;
            height: @header-basket-icon-height-mobile;
            
        	top: 0;
        	bottom: 0;
        	left: 0;
        	right: 0;
        	
        	margin: auto;
        	
        	background-size: @header-basket-icon-width-mobile @header-basket-icon-height-mobile;
        
        }
    }
    
    &:hover {
        background-color: @color-white;
        
        &:before {
            
            .svg & {        
                background-image: url(../images/svg/icon-cart-blue.svg);
            }        
            .no-svg & {
            	background-image: url(../images/png/icon-cart-blue.png);
            }
            
        }
        
        .header-basket__dropdown {
            display: block;
        }
        
        .header-basket__link {
            color: @color-black;
        }
        
    }
    
    &__link {
        display: block;
        
        width: 100%;
        height: 100%;
        
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1100;
        
        padding-top: @header-account-basket-padding-top;
        
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
        color: @color-white;
        
        transition: none;
        
        &:hover {
            color: @color-white;
        }
        
        
        @media @query-mobile {
        
        	padding-top: 0;
        
        }
    }
    
    &__amount {
        display: block;
        
        width: @header-basket-amount-size;
        height: @header-basket-amount-size;
        
        position: absolute;
        left: 56%;
        top: 17px;
        
        background-color: @color-blue;
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        
        font-size: 15px;
        font-weight: 400;
        line-height: @header-basket-amount-size;
        color: @color-white;
        
        
        @media @query-mobile {
        
        	width: @header-basket-amount-size-mobile;
            height: @header-basket-amount-size-mobile;
            
            top: 6px;
            left: 57%;
                       
            font-size: 11px;
            line-height: @header-basket-amount-size-mobile;
        
        }
    }
    
    &__sum {
        display: block;
        
        
        @media @query-mobile {
        
        	display: none;
        
        }
    }
    
    
    &__dropdown {
        width: 625px;
        
        
        @media @query-tablet {
        
        	width: 600px;
        
        }
        
        @media @query-mobile {
        
        	width: 479px;
        
        }
        
        @media @query-mobile-sm {
        
        	width: 319px;
        
        }
        
        &:before {
            width: @header-basket-width - @header-dropdown-border-size;
            
            
            @media @query-mobile {
            
            	width: @header-account-width-mobile - @header-dropdown-border-size;
            
            }
        }
        
        &:after {
            width: @header-basket-width - @header-dropdown-border-size;
            
            
            @media @query-mobile {
            
            	width: @header-account-width-mobile - @header-dropdown-border-size;
            
            }
        }
        
    }
    
}


@header-dropdown-border-size: 2px;
@header-dropdown-border: @header-dropdown-border-size solid @color-blue;
    
.header-dropdown {
    display: none;
    
    position: absolute;
    right: 0;
    top: @header-height;
    z-index: 1000;
    
    background-color: @color-white;
    border: @header-dropdown-border;
    
    
    @media @query-mobile {
    
    	top: @header-height-mobile;
    
    }
    
    
    &:before {
        content: '';
        
        display: block;
        
        height: @header-height - @header-dropdown-border-size;
        
        position: absolute;
        right: -@header-dropdown-border-size;
        top: -@header-height - @header-dropdown-border-size;
        
        border: @header-dropdown-border;
        border-bottom: none;
        
        
        @media @query-mobile {
        
        	height: @header-height-mobile - @header-dropdown-border-size;
        	
        	top: -@header-height-mobile - @header-dropdown-border-size;
        
        }
    }
    
    &:after {
        content: '';
        
        display: block;
        
        height: @header-dropdown-border-size;
        
        position: absolute;
        right: 0;
        top: -@header-dropdown-border-size;
        
        background-color: @color-white;
    }
}

