
.main-banner {
	list-style: none;
	
	padding: 0;
	margin: 0;
	
	box-shadow: 0 2px 4px rgba(21, 20, 20, 0.08), 0 1px 3px rgba(172, 164, 139, 0.1);
	background-color: white;
	
	&__item {
		position: relative;
	
		height: 300px;
			
	    padding: 30px 0 0 0;
	    
	    @media @query-mobile-sm {
	    
	    	height: auto;
	    	min-height: 300px;
	    	
	    	padding-bottom: 30px;
	    
	    }
	}
	
	&__img {
		position: absolute;
		right: 3%;
		top: 0;
		bottom: 0;
		
		margin: auto 0;
		
		max-width: 47%;
		max-height: 250px;
		
		@media @query-tablet {
		
			max-width: 30%;
		
		}
		
		
		@media @query-mobile-sm {
		
			display: none !important;
		
		}
	}
	
	&__content {
		position: absolute;
		left: 0;
		top: 0;
		
		width: 50%;
		
		padding: 30px 0 0 30px;
		
		text-align: center;
		
		
		@media @query-tablet {
		
			width: 65%;
		
		}
		
		@media @query-mobile-sm {
		
			width: 100%;
			
			padding-left: 20px;
			padding-right: 20px;
		
		}
	}
	
	&__top-title {
		margin-bottom: 10px;
		
		font-size: 28px;
		line-height: 32px;
		font-weight: 700;
		
		@media @query-mobile {
		
			font-size: 24px;
			line-height: 24px;
		
		}
	}
	
	&__bottom-title {
		margin-bottom: 30px;
		
		font-size: 22px;
		
		@media @query-mobile {
		
			font-size: 18px;
		
		}
	}
	
	&__logo {
		display: block;
		
		max-width: 280px;
		height: auto;
		
		margin: 0 auto 30px auto;
		
		
		@media @query-tablet {
		
			max-width: 200px;
		
		}
	}
	
}


.flexslider-main {

	padding: 0;
	margin: 0;
	
	border: none;	
	border-radius: 0;
	background: none;
	
	.flex-control-nav {
		bottom: 20px;
		
		@media @query-mobile {
		
			display: none;
		
		}
	}
	
	.slides img {
		width: auto;
	}
	
}

