
@modal-basket-icon-width: 36px;
@modal-basket-icon-height: 31px;

.modal-basket {
    
    .modal__header {
        position: relative;
        
        padding-left: 80px;
        
        
        @media @query-mobile-sm {
        
        	padding-left: 30px;
        
        }
        
        &:before {
            content: '';
            
            display: block;
            
            width: @modal-basket-icon-width;
            height: @modal-basket-icon-height;
            
            position: absolute;
            top: 0;
            left: 30px;
            bottom: 0;
            
            margin: auto 0;
            
            background-repeat: no-repeat;
            background-position: left top;
            background-size: @modal-basket-icon-width @modal-basket-icon-height;
            
            .svg & {
                background-image: url(../images/svg/icon-cart-green.svg);
            }
            .no-svg & {
                background-image: url(../images/png/icon-cart-green.png);
            }
            
            
            @media @query-mobile-sm {
            
            	display: none;
            
            }
        }
        
    }
    
    .modal__footer {
        
        @media @query-mobile-sm {
        
        	text-align: center;
        
        }
        
    }
    
    
    &__table {
        width: 100%;
        
        margin: 0;
        
        
        @media @query-mobile-sm {
        
        	&, tbody, tr, th, td {
            	display: block;
            	
            	width: 100%;
        	}
        
        }
    
        td, th {
            vertical-align: middle;
            
            font-size: 14px;
            font-weight: 400;
        }
        
        &__image {
            width: 130px;
            
            padding: 0;
            
            @media @query-mobile-sm {
            
            	margin-bottom: 20px;
            
            }
        }
        
        &__description {
            padding: 0 0 0 30px;
            
            
            @media @query-mobile-sm {
            
            	padding-left: 0;
            	
            	text-align: center;
            
            }
        }
    }
    
    
    &__product-image {
        display: block;
        
        padding: 5px;
        
        border: @border-thin-grayLight;
        
        
        @media @query-mobile-sm {
        
        	border: none;
        
        }
        
        img {
            display: block;
            
            margin: 0 auto;
        }
    }
    
    &__product-name {
        display: block;
        
        font-weight: 700;
        line-height: 16px;
        text-decoration: none;
        
        
        @media @query-mobile-sm {
        
        	text-align: center;
        
        }
    }
    
    &__product-code {
        font-size: 12px;
        color: @color-grayLightSemi;
        
        @media @query-mobile-sm {
        
        	text-align: center;
        
        }
    }
    
    &__product-price {
        padding-top: 20px;
        
        font-weight: 700;
        
        @media @query-mobile-sm {
        
        	text-align: center;
        
        }
    }
    
    
    &__btn-prev {
        float: left;
        
        top: 15px;
        
        @media @query-mobile-sm {
        
        	float: none;
        	
        	display: inline-block;
        	
        	top: 0;
        	
        	margin: 0 20px 20px 20px;  
        	      
        }
    }
    
    &__btn-next {
        float: right;
        
        @media @query-mobile-sm {
        
        	float: none;
        
            display: inline-block;
            
            margin: 0 20px 20px 20px;  
            
        }
    }
    
}