
@modal-header-vertical-gap: 15px;
@modal-horizontal-gap: 30px;

.blocker {
    z-index: 2000;
}

.modal {
    max-width: 800px;
    
    padding: 0;
    
    border-radius: 0;
    box-shadow: none;
    
    
    a.close-modal {
        width: @modal-close-size;
        height: @modal-close-size;
        
        top: 22px;
        right: @modal-horizontal-gap;
        
        background-repeat: no-repeat;
        background-position: left top;
        background-size: @modal-close-size @modal-close-size;
        
        .svg & {
            background-image: url(../images/svg/icon-modal-close.svg);
        }
        .no-svg & {
            background-image: url(../images/png/icon-modal-close.png);
        }
    }
    
    
    &__header {
        padding: @modal-header-vertical-gap @modal-horizontal-gap*2 @modal-header-vertical-gap @modal-horizontal-gap;
        
        background-color: @color-grayLightExtra;
        
        font-size: 28px;
        font-weight: 400;
        color: @color-black;
        
        
        @media @query-mobile-sm {
        
        	font-size: 22px;
        
        }
        
        
        &--green {
            background-color: #EBFFEB;
            
            color: #20C662; 
        }
    }
    
    
    &__content {
        padding: 40px @modal-horizontal-gap;
        
        font-size: 16px;
        line-height: 24px;
    }
    
    &__footer {
        padding: 20px @modal-horizontal-gap;
        
        border-top: @border-thin-grayLight;
    }
}

