
@my-account-horizontal-gap: 20px;
@my-account-vertical-gap: 20px;

.my-account {
    text-align: left;
    
    &__account-balance {
        padding: @my-account-vertical-gap @my-account-horizontal-gap (@my-account-vertical-gap - 5px) @my-account-horizontal-gap;
        
        border-bottom: @border-thin-grayLight;
        
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        color: @color-grayDark;
        
        
        &__value {
            font-weight: 700;
            text-decoration: underline;
            color: @color-blue;
        }
    }
    
    
    @my-account-action-list-link-icon-width: 9px;
    @my-account-action-list-link-icon-height: 13px;
    @my-account-action-list-link-padding-left: 25px;
    
    &__action-list {
        padding: @my-account-vertical-gap @my-account-horizontal-gap;
        margin: 0;
        
        border-bottom: @border-thin-grayLight;
        
        list-style: none;
        
        
        &__item {
            display: block;
            
            margin-bottom: 20px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
        
        &__link {
            display: block;
            
            position: relative;
            
            padding-left: @my-account-action-list-link-padding-left;
            
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: @color-blue;
            
            &:before {
                content: '';
                
                display: block;
                
                width: @my-account-action-list-link-icon-width;
                height: @my-account-action-list-link-icon-height;
                
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                
                margin: auto 0;
                
                background-repeat: no-repeat;
                background-position: left center;
                background-size: @my-account-action-list-link-icon-width @my-account-action-list-link-icon-height;
                      
                .svg & {  
                	background-image: url(../images/svg/icon-chevron.svg);
                }        
                .no-svg & {
                	background-image: url(../images/png/icon-chevron.png);
                }
            }
        }
    }
    
    
    &__logout {
        padding: 25px @my-account-horizontal-gap;
        
        
        @my-account-logout-link-icon-width: 13px;
        @my-account-logout-link-icon-height: 11px;
    
        &__link {
            display: block;
            
            position: relative;
            
            padding-left: @my-account-action-list-link-padding-left;
            
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            color: @color-blue;
            
            
            &:before {
                content: '';
                
                display: block;
                
                width: @my-account-logout-link-icon-width;
                height: @my-account-logout-link-icon-height;
                
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                
                margin: auto 0;
                
                background-repeat: no-repeat;
                background-position: left center;
                background-size: @my-account-logout-link-icon-width @my-account-logout-link-icon-height;
                      
                .svg & {  
                	background-image: url(../images/svg/icon-back.svg);
                }        
                .no-svg & {
                	background-image: url(../images/png/icon-back.png);
                }
            }
        }
    }
    
    
    &__login {
        padding: @my-account-vertical-gap @my-account-horizontal-gap (@my-account-vertical-gap + 5px) @my-account-horizontal-gap;
        
        border-bottom: @border-thin-grayLight;
        
        &__label {
            display: block;
            
            margin-bottom: 5px;
            
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.16px;
            color: @color-grayDark;
        }
        
        &__input {
            margin-bottom: 15px;
        }
        
        &__btn {
            display: block;
            
            width: 100%;
            
            margin-bottom: 15px;
        }
        
        &__forgotten-password {
            font-size: 13px;
            font-weight: 400;
            color: @color-blue;
        }
    }
    
    
    &__registration {
        padding: @my-account-vertical-gap @my-account-horizontal-gap;
        
        &__text {
            margin-bottom: 15px;
        
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
            color: @color-grayDark;
        }
        
        &__btn {
            display: block;
            
            width: 100%;
        }
    }
    
}