
@notification-success-bg-color: #EBFFEB;
@notification-success-text-color: #1B8344;

@notification-info-bg-color: #D6F3FF;
@notification-info-text-color: #0F57A1;

@notification-error-bg-color: #FFE3E4;
@notification-error-text-color: #B42227;

@notification-warning-bg-color: #FFF2DD;
@notification-warning-text-color: #9A5E1A;


.notification {
    display: block;
    
    width: 100%;
    
    position: relative;
    
    padding: 20px 50px;
    margin-bottom: 20px;
    
    background-color: @color-white;
    box-shadow: 0 1px 3px 0 rgba(173,164,139,0.1), 0 2px 4px 0 rgba(21,21,21,0.08);
    
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    
    
    
    &--no-margin-bottom {
        margin-bottom: 0;
    }
    
    &--success {
        background-color: @notification-success-bg-color;   
        
        color: @notification-success-text-color;
    }
    
    &--info {
        background-color: @notification-info-bg-color;   
        
        color: @notification-info-text-color;
    }
    
    &--error {
        background-color: @notification-error-bg-color;   
        
        color: @notification-error-text-color;
    }
    
    &--warning {
        background-color: @notification-warning-bg-color;   
        
        color: @notification-warning-text-color;
    }
    
    
    &__close {
        display: block;
        
        width: @modal-close-size;
        height: @modal-close-size;
    
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        
        margin: auto 0;
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @modal-close-size @modal-close-size;
              
        .svg & {  
        	background-image: url(../images/svg/icon-delete-black.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-delete-big-black.png);
        }    
    }
}