
.order-list-filter {
    margin-bottom: @margin-gap * 2;
    
    
    &__table {
        width: 100%;
        
        margin: 0;
        
        
        @media @query-mobile {
        
        	display: block;
        	
        	tbody, thead, tr {
            	display: block;
        	}
        	
        	tr {
            	padding: 10px;
            
            	border-bottom: @border-thin-grayLight;
        	}
        
        }
        
        th, td {
            padding-top: 15px;
            padding-bottom: 15px;
            
            border-bottom: @border-thin-grayLight;
            
            text-align: left;
            
            
            @media @query-mobile {
            
            	display: block;
            	
            	width: 100%;
            	
            	padding: 0;
            	
            	border: none;
            
            }
        }
        
        th {
            vertical-align: middle;
            
            width: 200px;
            
            padding-left: 20px;
            padding-right: 15px;
            
            @media @query-mobile {
            
            	padding: 0;
            	margin-bottom: 10px;
            
            }
        }
        
        td {
            vertical-align: top;
            
            padding-right: 20px;
            
            @media @query-mobile {
            
            	padding: 0;
            
            }
            
            input {
	            width: 40%;
	            
	            @media @query-not-large-desktop {
            
	            	width: 50%
	            
	            }
	            
	            @media @query-tablet {
            
	            	width: 100%
	            
	            }
	            
	            &.js-datepicker {
		            
		            padding-right: @calendar-icon-width + 15px;
		            
		            background-repeat: no-repeat;
		            background-position: 99% center;
		            background-size: @calendar-icon-width @calendar-icon-height;
            
		            .svg & {  
		            	background-image: url(../images/svg/icon-calendar.svg);
		            }        
		            .no-svg & {
		            	background-image: url(../images/png/icon-calendar.png);
		            } 
		            
	            }
            }
        }
    }
    
    &__td-full-width {
        padding-left: 20px;
    }
    
    @order-list-filter-checkbox-horizontal-gap: 20px;
    @order-list-filter-checkbox-vertical-gap: 10px;
    
    &__checkboxes {
        margin: 0 0 -@order-list-filter-checkbox-vertical-gap -@order-list-filter-checkbox-horizontal-gap;
    }
    
    &__checkbox {
        min-width: 80px;
        
        margin-left: @order-list-filter-checkbox-horizontal-gap;
        margin-bottom: @order-list-filter-checkbox-vertical-gap;
    }
    
    &__filters {
        .white-shadow-box();
    }
    
    
    &__active-filters {
        padding-top: 20px;
        
        
        &__table {
            width: 100%;
            
            margin: 0;
            
            
            @media @query-tablet {
            
            	display: block;
            
                tbody, thead, tr {
                	display: block;
            	}
        	
            }
            
            th, td {
                vertical-align: top;
                
                padding: 0;
                
                text-align: left;
                
                @media @query-tablet {
                
                	display: block;
                	
                	width: 100%;
                
                }
            }
            
            th {
                width: 120px;
                
                line-height: 35px;
                
                padding-right: 15px;
                
                
                @media @query-tablet {
                
                	padding: 0;
                
                }
            }
        }
        
        
        @remove-filter-size: 12px;
        @remove-filter-horizontal-gap: 10px;
        @remove-filter-vertical-gap: 10px;
            
        &__wrapper {
            margin: 0 0 -@remove-filter-vertical-gap -@remove-filter-horizontal-gap;
        }
        
        &__remove-filter {
            display: inline-block;
            
            position: relative;
            
            padding: 10px (25px + @remove-filter-horizontal-gap) 10px 15px;
            margin: 0 0 @remove-filter-vertical-gap @remove-filter-horizontal-gap;
            
            border: 2px solid #dde2ea;
            background-color: @color-white;
            
            font-size: 14px;
            font-weight: 400;
            text-decoration: none;
            color: @color-blueDark;
            
            &:before {
                content: '';
                
                display: block;
                
                width: @remove-filter-size;
                height: @remove-filter-size;
                
                position: absolute;
                right: @remove-filter-horizontal-gap;
                top: 0;
                bottom: 0;
                
                margin: auto 0;
                
                background-repeat: no-repeat;
                background-position: left center;
                background-size: @remove-filter-size @remove-filter-size;
                      
                .svg & {  
                	background-image: url(../images/svg/icon-delete.svg);
                }        
                .no-svg & {
                	background-image: url(../images/png/icon-delete.png);
                }
            }
            
            &:hover {
                background-color: darken(@color-white, 5%);
            }
        }
        
        &__reset-filters {
            display: inline-block;
            
            font-size: 14px;
            font-weight: 400;
            color: @color-red;
            
            margin: 0 0 @remove-filter-vertical-gap @remove-filter-horizontal-gap;
        }
    }
    
}