
@order-steps-on-row: 3;
@order-steps-border: 3px solid #9da2a7;

.order-steps {
    padding: 0;
    margin: 0;
    
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    list-style: none;
    
    
    &__step {
        display: inline-block;
        vertical-align: bottom;
        
        width: 100% / @order-steps-on-row;
        
        padding: 0 0 10px 0;
        margin: 0;
        
        border-bottom: @order-steps-border;
        
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        color: @color-grayLightSemi;
        
        
        @media @query-mobile {
        
        	font-size: 14px;
        
        }
        
        
        &.active {
            border-color: @color-blue;
            
            color: @color-black;
        }
    }
}