
@order-summary-horizontal-gap: 20px;

@order-summary-horizontal-gap-mobile: 10px;

.order-summary {
    
    &__title {
        vertical-align: bottom;
        
        margin-bottom: 20px;
        
        font-size: 22px;
        line-height: 32px;
        font-weight: 400;
        color: @color-grayDarkExtra;
    }
    
    &__content {
        padding: 20px 0 30px 0;
        
        .white-shadow-box();
    }
    
    &__wrapper {
        padding: 0 @order-summary-horizontal-gap;     
        
        
        @media @query-mobile {
        
        	padding: 0 @order-summary-horizontal-gap-mobile;
        
        }
        
    }
    
    
    &__total-price {
        padding: 20px @order-summary-horizontal-gap 0 @order-summary-horizontal-gap;
        
        border-top: @border-thin-grayLight;
        
        font-size: 18px;
        font-weight: 400;
        text-align: right;
        color: @color-grayDark;
        
        
        @media @query-mobile-sm {
        
        	text-align: center;
        
        }
        
        
        &__value {
            display: inline-block;
            
            margin-left: 10px;
            
            font-size: 30px;
            color: @color-blue;
            
            @media @query-mobile-sm {
            
                display: block;
                
                padding-top: 5px;
            	margin-left: 0;
            
            }
        }
    }
    
    
    &__table {
        width: 100%;
        
        margin: 0;
        
        td {
            padding-top: 8px;
            padding-bottom: 8px;
            
            border-bottom: @border-thin-grayLight;
        }
        
        tr:last-child {
            
            td {
                border-bottom: none;
            }
            
        }
        
        &__column-image {
            width: 45px;
            
            padding-left: 0;
            padding-right: 0;
            
            text-align: center;
            
            
            @media @query-mobile-sm {
            
                display: none;
            
            }
        }
        
        &__column-product {
            width: 200px;
            
            padding-left: 5px;
            padding-right: 10px;
            
            @media @query-not-large-desktop {
            
            	width: 500px;
            
            }
            
            @media @query-mobile {
            
            	width: 200px;
            
            }
        }
        
        &__column-price {
            width: 120px;
            
            padding-left: 0;
            padding-right: 0;
            
            text-align: right;
        }
        
        td&__column-total {
            padding-top: 22px;
            padding-bottom: 22px;
            
            text-align: right;
        }
        
        
        &__image {
            display: block;
            
            img {
                display: block;
                
                margin: 0 auto;
            }
        }
        
        &__amount {
            font-size: 13px;
            font-weight: 700;
            color: @color-grayDark;
        }
        
        &__product-name {
            font-size: 13px;
            font-weight: 400;
            text-decoration: none;
            color: @color-grayDark;
            
            a&:hover {
                text-decoration: underline;
            }
        }
        
        &__product-code {
            padding-top: 3px;
            
            font-size: 11px;
            font-weight: 400;
            color: @color-grayLightSemi;
        }
        
        &__price {
            font-size: 14px;
            font-weight: 700;
            color: @color-black;
        }
        
        &__availability {
            padding-top: 5px;
            
            font-size: 12px;
            font-weight: 400;
        }
        
        &__total-price {
            font-size: 14px;
            font-weight: 400;
            color: @color-grayDark;
            
            @media @query-mobile-sm {
            
            	text-align: center;
            
            }
            
            &__value {
                display: inline-block;
                
                margin-left: 10px;
                
                
                @media @query-mobile-sm {
                
                    display: block;
                    
                    padding-top: 5px;
                	margin-left: 0;
                	
                	font-weight: 700;
                
                }
            }
        }
        
        &__discount {
            padding-top: 10px;
            
            font-size: 14px;
            font-weight: 400;
            color: @color-grayDark;
            
            @media @query-mobile-sm {
            
                padding-top: 20px;
                
            	text-align: center;
            
            }
            
            
            &__value {
                display: inline-block;
                
                margin-left: 10px;
                
                
                @media @query-mobile-sm {
                
                    display: block;
                    
                    padding-top: 5px;
                	margin-left: 0;
                	
                	font-weight: 700;
                
                }
            }
        }
        
    }
    
}