
@order-form-horizontal-gap: 40px;
@order-form-vertical-gap: 30px;
@order-form-choices-vertical-gap: 10px;
@order-form-subchoices-vertical-gap: 20px;
@order-form-subchoices-top-shift: @order-form-choices-vertical-gap / 2;
@order-form-subchoices-arrow-size: 10px;
@order-form-icon-horizontal-gap: 18px;

@order-form-horizontal-gap-mobile: 10px;


.order-form {
    
    &__title {
        vertical-align: bottom;
        
        margin-bottom: 20px;
        
        font-size: 28px;
        line-height: 32px;
        font-weight: 400;
        color: @color-grayDarkExtra;
    }
    
    &__content {
        .white-shadow-box();
    }
    
    &__content-block {
        padding: @order-form-vertical-gap 0;
        
        border-bottom: @border-thin-grayLight;
        
        
        &--horizontal-gap {
            padding-left: @order-form-horizontal-gap;
            padding-right: @order-form-horizontal-gap;
            
            @media @query-mobile {
            
            	padding-left: @order-form-horizontal-gap-mobile;
            	padding-right: @order-form-horizontal-gap-mobile;
            
            }
        }
        
        &--no-border {
            border-bottom: none;
        }
    }
    
    &__table {
        width: 100%;
        
        margin: 0;
        
        
        @media @query-tablet {
        
        	display: block;
        	
        	tbody, tr {
            	display: block;
            	
            	width: 100%;
        	}
        
        }
        
        &__label {
            width: 58%;
            
            padding-right: 2%;
            
            @media @query-tablet {
            
            	display: block;
            	
            	width: 100%;
            	
            	padding-right: 0;
            	margin-bottom: 10px;
            
            }
        }
        
        &__element {
            width: 43%;
            
            text-align: right;
            
            @media @query-tablet {
            
            	display: block;
            	
            	width: 100%;
            
            }
        }
    }
    
    &__customer-number {
	    font-size: 16px;
	    font-weight: 700;
	    
	    @media @query-tablet {
        
        	text-align: left;
        
        }
    }
    
    &__delivery-date {
	    font-size: 16px;
	    font-weight: 700;
	    
	    @media @query-tablet {
        
        	text-align: left;
        
        }
    }
    
    &__label {
        display: block;
        
        margin-bottom: 5px;
        
        font-size: 15px;
        font-weight: 700;
        color: @color-grayDark;
        
        
        &.required {
            
            &:after {
                content: '*';
                
                display: inline-block;
                
                margin-left: 5px;
                
                font-size: 16px;
                font-weight: 400;
                color: @color-red;
            }
            
        }
    }
    
    &__info {
        font-size: 12px;
        font-weight: 400;
        color: @color-grayLightSemi;
    }
    
    
    &__delivery-label {
        position: relative;
        
        padding: 0 @order-form-horizontal-gap 0 (@order-form-horizontal-gap + @delivery-icon-width + @order-form-icon-horizontal-gap);
        margin-bottom: 25px;    
        
        
        @media @query-mobile {
        
        	padding: 0 @order-form-horizontal-gap-mobile 0 (@order-form-horizontal-gap-mobile + @delivery-icon-width + @order-form-icon-horizontal-gap);
        
        }
        
        &:before {
            content: '';
            
            display: block;
            
            width: @delivery-icon-width;
            height: @delivery-icon-height;
            
            position: absolute;
            left: @order-form-horizontal-gap;
            top: 0;
            bottom: 0;
            
            margin: auto 0;
            
            background-repeat: no-repeat;
            background-position: left center;
            background-size: @delivery-icon-width @delivery-icon-height;
            
            
            @media @query-mobile {
            
            	left: @order-form-horizontal-gap-mobile;
            
            }
                  
            .svg & {  
            	background-image: url(../images/svg/icon-delivery.svg);
            }        
            .no-svg & {
            	background-image: url(../images/png/icon-delivery.png);
            }    
        }
    }
    
    &__term-label {
        position: relative;
        
        padding: 0 0 0 (@calendar-icon-width + @order-form-icon-horizontal-gap);
        
        
        &:before {
            content: '';
            
            display: block;
            
            width: @calendar-icon-width;
            height: @calendar-icon-height;
            
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            
            margin: auto 0;
            
            background-repeat: no-repeat;
            background-position: left center;
            background-size: @calendar-icon-width @calendar-icon-height;
                  
            .svg & {  
            	background-image: url(../images/svg/icon-calendar.svg);
            }        
            .no-svg & {
            	background-image: url(../images/png/icon-calendar.png);
            }    
        }
    }
    
    &__payment-label {
        position: relative;
        
        padding: 0 @order-form-horizontal-gap 0 (@order-form-horizontal-gap + @delivery-icon-width + @order-form-icon-horizontal-gap);
        margin-bottom: 25px;  
        
        
        @media @query-mobile {
        
        	padding: 0 @order-form-horizontal-gap-mobile 0 (@order-form-horizontal-gap-mobile + @delivery-icon-width + @order-form-icon-horizontal-gap);
        
        }  
        
        &:before {
            content: '';
            
            display: block;
            
            width: @payment-icon-width;
            height: @payment-icon-height;
            
            position: absolute;
            left: @order-form-horizontal-gap;
            top: 0;
            bottom: 0;
            
            margin: auto 0;
            
            background-repeat: no-repeat;
            background-position: left center;
            background-size: @payment-icon-width @payment-icon-height;
                
                  
            @media @query-mobile {
            
            	left: @order-form-horizontal-gap-mobile;
            
            }      
                  
            .svg & {  
            	background-image: url(../images/svg/icon-payment.svg);
            }        
            .no-svg & {
            	background-image: url(../images/png/icon-payment.png);
            }    
        }
    }
    
    
    &__choices {
        position: relative;
        
        margin-bottom: -@order-form-choices-vertical-gap;
        
        .radiobutton, .checkbox {
            display: block;
            
            margin: 0 @order-form-horizontal-gap @order-form-choices-vertical-gap @order-form-horizontal-gap;
            
            
            @media @query-mobile {
            
            	margin: 0 @order-form-horizontal-gap-mobile @order-form-choices-vertical-gap @order-form-horizontal-gap-mobile;
            
            }
        }
        
        
        &--no-horizontal-gap {
            
            .radiobutton, .checkbox {
                margin-left: 0;
                margin-right: 0;
            }
                
        }
            
    }
    
    &__subchoices {
        position: relative;
        top: @order-form-subchoices-top-shift;
        
        padding: @order-form-subchoices-vertical-gap 0 (@order-form-subchoices-vertical-gap - @order-form-choices-vertical-gap) 0;
        margin-bottom: @order-form-subchoices-vertical-gap + @order-form-subchoices-top-shift;
        
        background-color: @color-blueLightExtra;
        
        
        &--horizontal-gap {
            padding-left: @order-form-horizontal-gap;
            padding-right: @order-form-horizontal-gap;
            
            
            @media @query-mobile {
            
            	padding-left: @order-form-horizontal-gap-mobile;
                padding-right: @order-form-horizontal-gap-mobile;
            
            }
        }
        
        &:before {
            content: " ";
            
            width: 0;
            height: 0;
            
            position: absolute;
            bottom: 100%;
        	left: @order-form-horizontal-gap + @order-form-subchoices-arrow-size;
        	
        	margin-left: -@order-form-subchoices-arrow-size;
        	
        	border: solid transparent;
        	
        	border-color: rgba(136, 183, 213, 0);
        	border-bottom-color: @color-blueLightExtra;
        	border-width: @order-form-subchoices-arrow-size;
        	
        	pointer-events: none;
        }
        
        
        .order-form__label {
            margin-bottom: 10px;
            
            font-weight: 400;
        }
        
        .order-form__textarea {
            font-size: 15px;
        }
    }
    
    
    &__textarea {
        margin-bottom: 30px;
    }
    
    &__conditions {
        width: 100%;
        height: 110px;
        
        overflow: auto;
        
        padding: 2%;
        margin-bottom: 30px;
    
        border: @border-form-element;
        background-color: @color-white;
        
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: @color-grayDark;
    }
    
    .radiobutton, .checkbox {
            
        &__label {
            color: @color-grayDark;
        }
        
    }
    
}