
.pagination {
    display: block;
    
    margin-bottom: @margin-gap;
    
    text-align: center;
    
    
    &__page {
        display: inline-block;
        
        margin: 0 10px 5px 10px;
        
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        text-decoration: underline;
        color: @color-blue;
        
        
        &.active {
            font-weight: 400;
            text-decoration: none;
            color: @color-black;
        }
    }
    
    
    &__previous-page {
        display: inline-block;
        
        margin: 0 30px 5px 0;
        
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        color: @color-black;
        
        a& {
            text-decoration: underline;
            color: @color-blue;
            
            &:hover {
                text-decoration: none;
                color: @color-black;
            }
        }
        
        
        @media @query-mobile-sm {
        
        	display: block;
        	
        	margin: 0 0 20px 0;
        
        }
    }
    
    &__next-page {
        display: inline-block;
        
        margin: 0 0 5px 30px;
        
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        color: @color-black;
        
        a& {
            text-decoration: underline;
            color: @color-blue;
            
            &:hover {
                text-decoration: none;
                color: @color-black;
            }
        }
        
        
        @media @query-mobile-sm {
        
        	display: block;
        	
        	margin: 20px 0 0 0;
        
        }
    }
}