
@phone-email-contact-vertical-gap: 25px;
@phone-email-contact-padding-left: 65px;
@phone-email-contact-icon-phone-size: 40px;
@phone-email-contact-icon-email-width: 40px;
@phone-email-contact-icon-email-height: 31px;

.phone-email-contact {
    
    &__phone-wrapper {
        display: block;
        
        position: relative;
        
        padding-left: @phone-email-contact-padding-left;
        margin-bottom: @phone-email-contact-vertical-gap * 2; 
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @phone-email-contact-icon-phone-size @phone-email-contact-icon-phone-size;
              
        .svg & {  
        	background-image: url(../images/svg/icon-phone.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-phone.png);
        }
        
        
        font-size: 13px;
        line-height: 22px;
        text-decoration: none;
        color: @color-grayLight;
        
        
        &:after {
            content: '';
            
            display: block;
            
            width: 100%;
            height: 1px;
            
            position: absolute;
            left: 0;
            bottom: -@phone-email-contact-vertical-gap;

            background-color: rgba(76, 85, 96, .3);
        }
    }
    
    &__email-wrapper {
        display: block;
        
        padding-left: @phone-email-contact-padding-left;
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @phone-email-contact-icon-email-width @phone-email-contact-icon-email-height;
              
        .svg & {  
        	background-image: url(../images/svg/icon-envelope.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-envelope.png);
        }
        
        
        font-size: 13px;
        line-height: 22px;
        text-decoration: none;
        color: @color-grayLight;
    }
    
    
    &__phone {
        display: inline-block;
        vertical-align: baseline;
        
        margin-right: 15px;
        
        font-size: 23px;
        font-weight: 400;
        color: @color-blue;
    }
    
    &__email {
        display: inline-block;
        vertical-align: baseline;
        
        font-size: 20px;
        font-weight: 400;
        text-decoration: underline;
        color: @color-blue;
    }
    
}