
@product-list-table-padding: 20px;
@product-list-table-small-padding: 5px;

@product-list-table-padding-mobile-sm: 10px;
@product-list-table-add-to-basket-width: 80px;

.product-list-table {
    .white-shadow-box();
    
    
    &--no-shadow {
        box-shadow: none;        
    }
    
    &--border-top {
        border-top: @border-thin-grayLight;
    }


    &__table {
        width: 100%;
        
        margin: 0;
        
        
        @media @query-mobile-sm {
        
        	display: block;
        	
        	
        	tbody, thead, tr {
            	display: block;
            	
            	width: 100%;
            	
            	padding: 0;
        	}
        	
        	tr {
            	position: relative;
            	
            	padding: @product-list-table-padding-mobile-sm (@product-list-table-add-to-basket-width + 40px) @product-list-table-padding-mobile-sm @product-list-table-padding-mobile-sm;
            	
            	border-bottom: @border-thin-grayLight;
        	}
        
        }
        
        
        td {
            padding-top: @product-list-table-padding;
            padding-bottom: @product-list-table-padding;
            
            border-bottom: @border-thin-grayLight;
            
            
            @media @query-mobile-sm {
            
            	display: block;
            	
            	width: 100%;
            	
            	padding: 0;
            	
            	border: none;
            
            }
        }
        
        &--small-padding {
            
            td {
                padding-top: @product-list-table-small-padding;
                padding-bottom: @product-list-table-small-padding;
            }
            
        }
    }
    
    &__active-row {
        
        @media @query-mobile-sm {
        
        	background-color: @color-yellow;
        
        }
        
        th, td {
            background-color: @color-yellow;
        }
        
    }
    
    &__column-image {
        width: 60px;
        
        padding-left: 10px;
        padding-right: 10px;
        
        text-align: center;
        
        &--small {
            width: 45px;
            
            padding-left: 15px;
        }
    }
    
    &__column-name {
        width: 400px;
        
        padding-left: @product-list-table-padding;
        padding-right: 90px;
        
        text-align: left;
        
        
        @media @query-not-large-desktop {
        
            width: 300px;
            
        	padding-right: 20px;
        
        }
        
        @media @query-mobile {
        
        	width: 250px;
        	
        	padding-right: 10px;
        
        }
        
        @media @query-mobile-sm {
        
        	margin-bottom: 20px;
        
        }
        
        &--small {
            width: 260px;
            
            padding-left: 0;
            padding-right: 20px;
        }
        
        &--extra-small {
            width: 200px;
            
            padding-left: 0;
            padding-right: 20px;
        }
    }
    
    &__column-availability {
        width: 130px;
        
        padding-right: 15px;
        
        text-align: right;
        
        
        @media @query-mobile {
        
        	width: 100px;
        
        }
        
        &--small {
            width: 100px;
        }
    }
    
    &__column-price {
        width: 150px;
        
        padding-left: 0;
        padding-right: 0;
        
        text-align: right;
        
        
        @media @query-mobile-sm {
        
        	text-align: left;
        
        }
        
        
        &--small {
            width: 125px;
            
            padding-left: 10px;
            padding-right: 10px;    
        }
    }
    
    &__column-amount {
        width: 70px;
    }
    
    &__column-add-to-basket {
	    width: 300px;
        padding-left: 25px;
        padding-right: @product-list-table-padding;
        
        text-align: right;
        
        @media @query-mobile-sm {
        
            td& {
                width: @product-list-table-add-to-basket-width;
                height: 65px;
                
            	position: absolute;
            	right: @product-list-table-padding-mobile-sm;
            	top: 0;
            	bottom: 0;
            	
            	margin: auto 0;
        	}
        
        }
        
        &--fix-width {
            width: 140px;
            
            padding-left: 0;
            padding-right: 15px;
        }
    }
    
    &__column-delete {
        width: 20px;
        
        text-align: center;
    }
    
    
    &__product-image {
        display: block;
        
        margin: 0 auto;
        
        img {
            display: block;
        }
    }
    
    &__product-name {
        display: block;
        
        padding: 0;
        margin: 0 0 5px 0;
        
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        text-decoration: none;
        color: @color-grayDarkExtra;
        
        
        &--small {
            margin-bottom: 0;
            
            font-size: 13px;
            line-height: 16px;
        }
        
        &--no-margin {
            margin: 0;
        }
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    &__product-code {
        display: inline-block;
        
        margin-right: 5px;
        
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        text-transform: uppercase;
        color: @color-grayLightSemi;
        
        &--small {
            font-size: 11px;
        }
    }
    
    
    @product-tag-wrapper-gap: 15px;
    
    &__product-tag-wrapper {
        display: inline-block;
        
        margin-right: -@product-tag-wrapper-gap;
    }
    
    &__product-tag {
        margin-right: @product-tag-wrapper-gap;
    }
    
    
    &__product-price {
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        color: @color-black;
        
        &--small {
            font-size: 14px;
            line-height: 20px;
        }
        
        &__original-price {
            display: inline-block;
            vertical-align: baseline;
            
            margin-right: 5px;
            
            font-size: 13px;
            line-height: 13px;
            text-decoration: line-through;
            color: @color-grayDark;
        }
        
        &__actual-price {
            display: inline-block;
            vertical-align: baseline;
            
            font-size: 18px;
            color: @color-red;
        }
    } 
    
    &__product-availability {
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        
        &__price {
            margin-bottom: 5px;
            
            font-size: 14px;
            font-weight: 400;
        }
    }
    
    
    &--with-img {
	    
	    .product-list-table__column-image {
            width: 50px;
            
            padding-right: 0;
            
            text-align: center;
            
            @media @query-tablet {
            
            	display: none;
            
            }
        }
	    
    }
    
}