
@product-detail-left: 55%;
@prodict-detail-right: 45%;

.product-detail {
    position: relative;
    
    .white-shadow-box();
    
    
    &:before {
        content: '';
        
        display: block;
        
        width: 1px;
        height: 100%;
        
        position: absolute;
        left: @product-detail-left;
        top: 0;
        
        background-color: #dde2eb;
        
        
        @media @query-mobile {
        
        	display: none;
        
        }
    }
    
    
    &__left {
        float: left;
        
        width: @product-detail-left;
        
        padding: 25px 15px 35px 15px;
        
        
        @media @query-mobile {
        
        	float: none;
        	
        	width: 100%;
        
        }
    }
    
    &__right {
        float: right;
        
        width: @prodict-detail-right;
        
        
        @media @query-mobile {
        
        	float: none;
        	
        	width: 100%;
        
        }
    }
    
    
    &__right-wrapper {
        padding: 25px;
        
        border-bottom: @border-thin-grayLight;
        
        font-size: 0;
        letter-spacing: 0;
        word-spacing: 0;
        
        &--no-border {
            border-bottom: none;
        } 
    }
    
    
    @product-detail-price-availability-margin-bottom: 30px;
    
    &__price {
        display: inline-block;  
        vertical-align: baseline;  
        
        width: 55%;
        
        margin-bottom: @product-detail-price-availability-margin-bottom;
        
        font-size: 28px;
        font-weight: 700;
        
        
        @media @query-not-large-desktop {
        
        	display: block;
        	
        	width: 100%;
        	
        	margin-bottom: 10px;
        
        }
        
        
        &__original-price {
            margin-bottom: 5px;
            
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-decoration: line-through;
            color: @color-grayDark;    
            
            
            @media @query-not-large-desktop {
            
            	margin-bottom: 0;
            
            }
        }
        
        &__actual-price {
            color: @color-red;   
        }
    }
    
    &__availability {
        display: inline-block;
        vertical-align: baseline;
        
        width: 45%;
        
        margin-bottom: @product-detail-price-availability-margin-bottom;
        
        font-size: 15px;
        text-align: right;
        
        
        @media @query-not-large-desktop {
        
        	display: block;
        	
        	width: 100%;
        	
        	text-align: left;
        
        }
    }
    
    &__text-info {
        
        &__title {
            margin-bottom: 5px;
            
            font-size: 15px;
            font-weight: 700;
            line-height: 18px;
        }
        
        &__text {
            font-size: 13px;
            font-weight: 400;
            line-height: 22px;
            color: @color-grayDark;
        }
        
        a {
            font-size: 13px;
            font-weight: 400;
            line-height: 22px;
            color: @color-blue;
            
            &:hover {
                color: @color-black;
            }
        }
        
    }
    
    
    &__table {
        width: 100%;
        
        margin: 0;
        
        
        th, td {
            padding: 0 0 15px 0;
            
            text-align: left;
        }
        
        th {
            padding-right: 70px;
            
            font-size: 15px;
            font-weight: 700;
            color: @color-grayDark;
            
            
            @media @query-tablet {
            
            	padding-right: 20px;
            
            }
        }
        
        td {
            font-size: 15px;
            font-weight: 400;
            color: @color-grayDark;
        }
    }
    
    .add-to-basket {
        margin-bottom: 35px;
    }
}