
@product-list-ordering-line-height: 25px;

.product-list-ordering {
    margin-bottom: 30px;
    
    
    &__left {
        float: left;
        
        margin: 0;
        
        
        @media @query-mobile {
        
        	float: none;
        	
        	margin-bottom: 10px;
        
        }
        
        @media @query-mobile-sm {
        
        	display: block;
        	
        	tbody, thead, tr {
            	display: block;
        	}
        
        }
        
        th, td {
            padding: 0;
            
            text-align: left;
            
            
            @media @query-mobile-sm {
            
            	display: block;
            	
            	width: 100%;
            
            }
        }
        
        th {
            padding-right: 20px;
            
            @media @query-mobile-sm {
            
            	padding: 0;
            	margin-bottom: 5px;
            
            }
        }
    }
    
    &__right {
        float: right;
        
        margin: 0;
        
        
        @media @query-mobile {
        
        	float: none;
        
        }
        
        th, td {
            padding: 0;
            
            text-align: left;
        }
        
        th {
            padding-right: 20px;
            
            font-weight: 400;
            line-height: @product-list-ordering-line-height;
        }
    }
    
    
    @order-by-horizontal-gap: 10px;
    @order-by-vertical-gap: 10px;
    
    &__order-by-wrapper {
        margin: 0 0 -@order-by-vertical-gap -@order-by-horizontal-gap;
    }
    
    &__order-by {
        display: inline-block;
        
        padding: 0 10px;
        margin: 0 0 @order-by-vertical-gap @order-by-horizontal-gap;
        
        font-size: 14px;
        font-weight: 400;
        line-height: @product-list-ordering-line-height;
        color: @color-blue;
        
        
        @media @query-mobile-sm {
        
        	padding: 0 5px;
        
        }
        
        &.active {
            background-color: #9b9a9b;
            
            text-decoration: none;
            color: @color-white;
        }
    }
    
    
    @list-type-table-width: 17px;
    @list-type-table-height: 14px;
    
    &__list-type-table {
        display: inline-block;
        
        vertical-align: middle;
        
        width: @list-type-table-width;
        height: @list-type-table-height;
        
        margin-right: 10px;
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @list-type-table-width @list-type-table-height;
              
        .svg & {  
        	background-image: url(../images/svg/icon-order-table.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-order-table.png);
        }
        
        
        &.active {
            
            .svg & {  
            	background-image: url(../images/svg/icon-order-table-active.svg);
            }        
            .no-svg & {
            	background-image: url(../images/png/icon-order-table-active.png);
            }
            
        }
    }
    
    @list-type-grid-width: 17px;
    @list-type-grid-height: 13px;
    
    &__list-type-grid {
        display: inline-block;
        
        vertical-align: middle;
        
        width: @list-type-grid-width;
        height: @list-type-grid-height;
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @list-type-grid-width @list-type-grid-height;
              
        .svg & {  
        	background-image: url(../images/svg/icon-order-grid.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-order-grid.png);
        }
        
        
        &.active {
            
            .svg & {  
            	background-image: url(../images/svg/icon-order-grid-active.svg);
            }        
            .no-svg & {
            	background-image: url(../images/png/icon-order-grid-active.png);
            }
            
        }
    }
}