
@product-list-grid-items-on-row: 3;
@product-list-grid-horizontal-gap: 3%;
@product-list-grid-vertical-gap: 3%;

@product-list-grid-items-on-row-mobile: 2;
@product-list-grid-horizontal-gap-mobile: 2%;
@product-list-grid-vertical-gap-mobile: 2%;

.product-list-grid {
    padding: 0;
    margin: 0 0 -@product-list-grid-vertical-gap -@product-list-grid-horizontal-gap;
    
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    list-style: none;
    
    
    @media @query-mobile-sm {
    
    	margin: 0 0 -@product-list-grid-vertical-gap-mobile -@product-list-grid-horizontal-gap-mobile;
    
    }
    
    @media @query-mobile-xs {
    
    	margin-left: 0;
    
    }
    
    
    &__item {
        display: inline-block;
        
        vertical-align: top;
        
        width: 100% / @product-list-grid-items-on-row - @product-list-grid-horizontal-gap;
        
        margin: 0 0 @product-list-grid-vertical-gap @product-list-grid-horizontal-gap;
        
        
        @media @query-mobile {
        
        	width: 100% / @product-list-grid-items-on-row-mobile - @product-list-grid-horizontal-gap-mobile;
        	
        	margin: 0 0 @product-list-grid-vertical-gap-mobile @product-list-grid-horizontal-gap-mobile;
        
        }
        
        @media @query-mobile-xs {
        
        	width: 100%;
        	
        	margin-left: 0;
        
        }
    }
}