
.product-box {
    display: block;
    
    width: 100%;
    
    position: relative;
    
    padding: 15px;
    
    .white-shadow-box();
    
    &__tags {
        display: block;
        
        position: absolute;
        left: -5px;
        top: 15px;  
        z-index: 100;
        
        .tag {
            float: left;
            clear: left;
            
            margin-bottom: 2px;
        }  
    }
    
    &__product-img {
        display: block;
        
        width: 100%;
        height: 185px;
        
        position: relative;
        
        margin-bottom: 20px;
        
        
        img {
            display: block;
            
            .center-image();
        }
    }
    
    &__product-code {
        height: 15px;
        
        overflow: hidden;
        
        font-size: 11px;
        font-weight: 400;
        text-transform: uppercase;
        color: @color-grayLightSemi;
    }
    
    &__product-name {
        display: block;
        
        height: 35px;
        
        overflow: hidden;
        
        margin-bottom: 15px;
        
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
        text-decoration: none;
        color: @color-grayDarkExtra;
        
        &:hover {
            text-decoration: underline;
        }
    }
    
    
    &__product-price-availability-wrapper {
        margin-bottom: 10px;
        
        font-size: 0;
        line-height: 40px;
        letter-spacing: 0;
        word-spacing: 0;    
    }
    
    &__product-price {
        display: inline-block;
        
        vertical-align: middle;
        
        width: 57%;
        
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        color: @color-black;
        
        
        @media @query-tablet {
        
        	display: block;
        	
        	width: 100%;
        
        }
        
        
        &__original-price {
            font-size: 12px;
            line-height: 13px;
            text-decoration: line-through;
            color: @color-grayDark;
        }
        
        &__actual-price {
            font-size: 17px;
            color: @color-red;
        }
    }   
    
    &__product-availability {
        display: inline-block;
        
        vertical-align: middle;
        
        width: 43%;
        
        font-size: 11px;
        font-weight: 400;
        line-height: 16px;
        text-align: right;
        
        
        @media @query-tablet {
        
        	display: block;
        	
        	width: 100%;
        
            text-align: left;
        }
    }
    
    
    .add-to-basket {
        
        &__amount {
            
            @media @query-not-large-desktop {
        
            	display: block;
            	
            	width: 100%;
            	
            	margin-right: 0;
            	margin-bottom: 1%;
            
            }
            
        }
        
        &__basket-button {
            
            @media @query-not-large-desktop {
        
            	width: 71%;
            
            }
            
        }
        
        &__favorite-button {
            
            @media @query-not-large-desktop {
        
            	width: 28%;
            
            }
            
        }
        
    }
}