
.product-description {
    
    &__product-code {
        margin-bottom: 10px;
        
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
        text-transform: uppercase;
        color: @color-grayLightSemi;
    }
    
    &__main-title {
        display: inline-block;
        vertical-align: middle;
        
        margin-bottom: 0;
        margin-right: 10px;
    }
    
    &__sub-title {
        margin-bottom: 5px;
        
        font-size: 22px;
        font-weight: 400;
        line-height: 26px;
    }
    
    
    @description-tag-wrapper-gap: 20px;
    
    &__tag-wrapper {
        display: inline-block;
        
        margin-right: -@description-tag-wrapper-gap;
    }
    
    &__tag {
        vertical-align: middle;
        
        margin-right: @description-tag-wrapper-gap;
    }
    
    &__text {
        padding-top: 10px;
        
        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 24px;
            color: @color-grayDark;
            
            &:last-child {
                margin-bottom: 0 !important;
            }
        }
        
        a {
            text-decoration: underline;
            color: @color-blue;
            
            &:hover {
                text-decoration: none;
                color: @color-black;
            }
        }
    }
}