
.product-image-gallery {
    
    &__main-image {
        display: block;
        
        margin-bottom: 20px;
        
        img {
            display: block;
            
            max-width: 100%;
            height: auto;
            
            margin: 0 auto;
        }
    }
    
    
    @product-image-gallery-thumbs-item-height: 80px;
    @product-image-gallery-thumbs-items-on-row: 4;
    @product-image-gallery-thumbs-horizontal-gap: 2%;
    @product-image-gallery-thumbs-vertical-gap: 2%;
    
    &__thumbs {
        padding: 0;
        margin: 0 0 -@product-image-gallery-thumbs-vertical-gap -@product-image-gallery-thumbs-horizontal-gap;
        
        font-size: 0;
        letter-spacing: 0;
        word-spacing: 0;
        list-style: none;
        
        
        @media @query-mobile {
        
        	display: none;
        
        }
    
        
        &__item {
            display: inline-block;
            vertical-align: top;
            
            width: 100% / @product-image-gallery-thumbs-items-on-row - @product-image-gallery-thumbs-horizontal-gap;
            
            margin: 0 0 @product-image-gallery-thumbs-vertical-gap @product-image-gallery-thumbs-horizontal-gap;
        }
        
        &__link {
            display: block;
            
            height: @product-image-gallery-thumbs-item-height;
            
            position: relative;
            
            border: @border-thin-grayLight;
            
            &:hover {
                border-color: @color-blue;
            }
        }
        
        &__image {
            .center-image(1px);
            
            
            @media @query-tablet {
            
            	max-width: 90%;
            
            }
        }
    }
    
}