
@pushy-horizontal-gap: 15px;

.pushy {
    background-color: @color-grayLight;
    
    &__close-link {
        display: block;
        
        padding: 15px @pushy-horizontal-gap 12px 45px;
        
        background-color: @color-grayLight;
        
        color: @color-white;
        font-size: 22px;
        font-weight: 400;
        line-height: 25px;
        text-align: left;
        text-transform: uppercase;
        text-decoration: none;
        
        
        background-repeat: no-repeat;
        background-position: @pushy-horizontal-gap center;
        background-size: @delete-icon-size--big @delete-icon-size--big;
              
        .svg & {  
        	background-image: url(../images/svg/icon-delete-white.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-delete-big-white.png);
        }
        
        &:hover {
            color: @color-white;
        }
        
        
    }
    
    
}
