
@radiobutton-size: 19px;

.radiobutton {
    display: inline-block;

    min-height: @radiobutton-size;
    
    position: relative;

    padding: 0 0 0 28px;
    margin: 0;
        
    &__label {
        display: inline-block;
        vertical-align: top;
        
        font-size: 14px;
        line-height: @radiobutton-size;
        font-weight: 400;
        color: @color-grayDarkExtra;
        
        &--bold {
            font-weight: 700;
        }
    }
    
    &__radio {
        display: block;

        width: @radiobutton-size;
        height: @radiobutton-size;
        
        position: absolute;
        left: 0;
        top: 0;
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @radiobutton-size @radiobutton-size;
              
        .svg & {  
        	background-image: url(../images/svg/radiobutton.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/radiobutton.png);
        }
    }
    

    &__input {
        display: none;
        
        padding: 0;
        margin: 0;

        &:checked {

            & + .radiobutton__radio {
                
                .svg & {  
                	background-image: url(../images/svg/radiobutton-active.svg);
                }        
                .no-svg & {
                	background-image: url(../images/png/radiobutton-active.png);
                }
                
            }

        }
        
        &:disabled {

            & + .radiobutton__radio {
                
                .svg & {  
                	background-image: url(../images/svg/radiobutton-inactive.svg);
                }        
                .no-svg & {
                	background-image: url(../images/png/radiobutton-inactive.png);
                }
                
            }

        }
        
    }
}