
@recap-prices-horizontal-gap: 20px;

.recap-prices {
	float: right;
	
	padding: 0;
	margin: 0;
	
	td {
		padding-right: @recap-prices-horizontal-gap;
		
		text-align: right;
	}
	
	&__label {
		font-size: 18px;
        font-weight: 400;
        text-align: right;
        color: @color-black;
        
        &--no-vat {
	        font-size: 14px;
        }
        
        
        @media @query-tablet {
        
        	font-size: 14px;
        	
        	&--no-vat {
		        font-size: 14px;
	        }
        
        }
        
        @media @query-mobile {
        
        	float: none;
        	
        	padding-left: @web-padding-mobile;
        	padding-right: @web-padding-mobile;
        	margin: 0;
        	
        	text-align: center;
        
        }
	}
	
	&__price {
		font-size: 30px;
        font-weight: 700;
        color: @color-blue;
        
        &--no-vat {
	        font-size: 14px;
	        color: @color-grayDark;
        }
        
        @media @query-tablet {
        
        	font-size: 20px;
        	
        	&--no-vat {
		        font-size: 14px;
	        }
        
        }
        
        @media @query-mobile {
        
            margin-left: 0;
        
        }
	}
}