
@search-form-position-correction: -2px;

.search-form {
    display: block;
    
    position: relative;
    
    width: 100%;
    height: @form-item-height;
    
    padding: 0;
    margin: 0;
    
    background-color: @color-white;
    border: @border-input-gray;
    
        
    &:before {
        content: '';
        
        display: block;
        
        width: @magnif-glass-size;
        height: @magnif-glass-size;
        
        position: absolute;
        left: 20px;
        top: 0;
        bottom: 0;
        
        margin: auto 0;
        
        background-repeat: no-repeat;
        background-position: left center;
        background-size: @magnif-glass-size @magnif-glass-size;      
        
        .svg & {
            background-image: url(../images/svg/icon-magnif-glass.svg);
        }        
        .no-svg & {
        	background-image: url(../images/png/icon-magnif-glass.png);
        }
    }
    
    
    fieldset {
        width: 100%;
        height: @form-item-height;
    }
    
    
    &__input {
        position: absolute;
        left: @search-form-position-correction;
        top: @search-form-position-correction;
        
        width: 80%;
        height: @form-item-height;
        
        padding: 0 20px 0 60px;
        
        background: none;
        border: none;
        
        font-size: 16px;
        font-weight: 400;
        color: @color-grayDark;
        
        
        @media @query-mobile-sm {
        
        	width: 70%;
        
        }
    }
    
    &__btn {
        position: absolute;
        right: @search-form-position-correction;
        top: @search-form-position-correction;
        
        width: 20%;
        height: @form-item-height;
        
        
        @media @query-mobile-sm {
        
        	width: 30%;
        
        }
    }
}