
@selectric-height: 41px; //@form-item-height - 2*border-size
@selectric-icon-dropdown-width: 10px;
@selectric-icon-dropdown-height: 6px;

//Classic
@selectric-classic-height: 46px; //@form-item-height - 2*border-size
@selectric-classic-icon-dropdown-width: 20px;
@selectric-classic-icon-dropdown-height: 12px;

.selectric-selectric {
    
    .selectric {
        border: @border-input-gray;
        background-color: @color-white;
        
        .label {
            height: @selectric-height;
            
            font-size: 15px;
            font-weight: 400;
            text-align: left;
            line-height: @selectric-height;
            color: @color-grayLight;
        }
        
        .button {
            height: @selectric-height;
            
            background-color: @color-white;
            
            line-height: @selectric-height;
            
            
            &:after {
                width: @selectric-icon-dropdown-width;
                height: @selectric-icon-dropdown-height;
                
                border: none;
                
                background-repeat: no-repeat;
                background-position: left center;
                background-size: @selectric-icon-dropdown-width @selectric-icon-dropdown-height;
                
                .svg & {        
                    background-image: url(../images/svg/icon-dropdown.svg);
                }        
                .no-svg & {
                	background-image: url(../images/png/icon-dropdown.png);
                }
            }
        }
    }
    
    .selectric-items li {
        margin: 0;
    }
    
    &--classic {
        
        .selectric {
            border: @border-form-element;
            
            .label {
                height: @selectric-classic-height;
                
                font-size: 16px;
                line-height: @selectric-classic-height;
            }
            
            .button {
                height: @selectric-classic-height;
                
                line-height: @selectric-classic-height;
                
                
                &:after {
                    width: @selectric-classic-icon-dropdown-width;
                    height: @selectric-classic-icon-dropdown-height;
                    
                    background-size: @selectric-classic-icon-dropdown-width @selectric-classic-icon-dropdown-height;
                    
                    .svg & {        
                        background-image: url(../images/svg/icon-dropdown.svg);
                    }        
                    .no-svg & {
                    	background-image: url(../images/png/icon-dropdown.png);
                    }
                }
            }
        }
        
        .selectric-items li {
            font-size: 16px;
            text-align: left;
        }
        
    }
}