
@side-navigation-icon-width: 8px;
@side-navigation-icon-height: 14px;

@side-navigation-dropdown-width: 480px;
@side-navigation-dropdown-border-size: 2px;
@side-navigation-dropdown-border: @side-navigation-dropdown-border-size solid @color-blue;

.side-navigation {
    padding: 0;
    margin: 0;
    
    position: relative;
    z-index: 200;
    
    list-style: none;
    
    box-shadow: 0 2px 4px rgba(21, 21, 21, 0.08), 0 1px 3px rgba(173, 164, 139, 0.1);
    
    
    &__item {
        display: block;
        
        position: relative;
        
        
        &--with-dropdown {
            
            &:before {
                content: '';
                
                display: none;
                
                width: @side-navigation-dropdown-border-size;
                height: calc(~'100% - @{side-navigation-dropdown-border-size}');
                
                position: absolute;
                left: 100%;
                top: 0;
                z-index: 100;
                
                background-color: @color-white;
            }
            
            &:hover {
                
                &:before {
                    display: block;
                }
                
            }
            
        }
        
        &--sub-categories {
            
            .side-navigation__link {
                
                &:after {
                    content: '';
                    
                    display: block;
                    
                    width: @side-navigation-icon-width;
                    height: @side-navigation-icon-height;
                    
                    position: absolute;
                    right: 15px;
                    top: 0;
                    bottom: 0;
                    
                    margin: auto 0;
                    
                    background-repeat: no-repeat;
                    background-position: left center;
                    background-size: @side-navigation-icon-width @side-navigation-icon-height;
                          
                    .svg & {  
                    	background-image: url(../images/svg/icon-side-navigation.svg);
                    }        
                    .no-svg & {
                    	background-image: url(../images/png/icon-side-navigation.png);
                    }
                }
                
            }
            
        }
    }
    
    &__link {
        display: block;
        
        position: relative;
        
        padding: 15px 30px 13px 15px;
        
        background-color: @color-grayLight;
        border-bottom: 1px solid #676e78;
        
        transition: none;
        
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: @color-white;
        
        &:before {
            content: '';
                
            display: none;
            
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
            
            width: 100%;
            height: calc(~'100% - (2 * @{side-navigation-dropdown-border-size})');
            
            background-color: transparent;
            border: @side-navigation-dropdown-border;
            border-right: none;
        }
        
        .side-navigation__item--with-dropdown:hover & {
            
            background-color: @color-white;
            
            font-weight: 700;
            text-decoration: none;
            color: @color-blue;
            
            &:after {
                display: none;
            }
            
            &:before {
                display: block;
            }
            
            & + .side-navigation__dropdown {
                display: block;
            }
        
        }
        
        
        &:hover {
            text-decoration: underline;
            color: @color-white;
            
            
            @media @query-tablet {
            
            	text-decoration: none;
            
            }
        }
        
        
        &.active {
            background-color: #ebf9ff;
            border: none;
            
            font-weight: 700;
            color: @color-blue;
            
            &:before {
                content: '';
                
                display: block;
                
                width: 4px;
                
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                
                background-color: @color-blue;    
            }
            
            &:after {
                display: block;
                
                transform: rotate(90deg);
            }
        }
    }
    
    
    @side-navigation-sublist-border: 1px solid #d9e1ea;
    
    &__sublist {
        padding: 0;
        margin: 0;
        
        list-style: none;
        
        border-top: @side-navigation-sublist-border;
    }
    
    &__sublist-item {
        display: block;
    }
    
    &__sublist-link {
        display: block;
        
        position: relative;
        
        padding: 15px 15px 15px 30px;
        
        background-color: @color-white;
        border-bottom: @side-navigation-sublist-border;
        
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: @color-grayDark;
        
        &.active {
            font-weight: 700;
        }
        
        &:before {
            content: '';
            
            display: block;
            
            width: @side-navigation-icon-width/1.5;
            height: @side-navigation-icon-height/1.5;
            
            position: absolute;
            left: 15px;
            top: 0;
            bottom: 0;
            
            margin: auto 0;
            
            background-repeat: no-repeat;
            background-position: left center;
            background-size: @side-navigation-icon-width/1.5 @side-navigation-icon-height/1.5;
                  
            .svg & {  
            	background-image: url(../images/svg/icon-side-navigation.svg);
            }        
            .no-svg & {
            	background-image: url(../images/png/icon-side-navigation.png);
            }
        }
        
        &:hover {
            text-decoration: underline;  
        }
    }
    
    
    &__dropdown {
        display: none;
        
        width: @side-navigation-dropdown-width;
        
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 10;
        
        padding: 30px;
        
        background-color: white;
        border: @side-navigation-dropdown-border;
        
        
        .category-navigation__link {
            font-size: 15px;
        }
    }
    
}