
@small-banner-bg-color: #e2e8f0;
@small-banner-height: 160px;

.small-banner {
    display: block;
    
    position: relative;
    
    height: @small-banner-height;
    
    padding: 30px 30% 30px 30px;
    
    box-shadow: 0 2px 4px rgba(21, 20, 20, 0.08), 0 1px 3px rgba(172, 164, 139, 0.1);
    background-repeat: no-repeat;
    background-position: right center;
    background-color: @small-banner-bg-color;
    
    text-decoration: none;
    
    
    @media @query-tablet {
    
    	padding-right: 45%;
    
    }
    
    @media @query-mobile {
    
    	padding-right: 30px;
    
    }
    
    @media @query-mobile-xs {
    
        padding-right: 15px;
    
    }
    
    &--services {
        background-image: url(../images/small-banner-sluzby.jpg);
        
        @media @query-mobile {
        
        	background-image: none;
        
        }
    }
    
    &--katalog {
        background-image: url(../images/small-banner-katalog.jpg);
        
        
        @media @query-mobile {
        
        	background-image: none;
        
        }
    }
    
    &--gifts {
	    background-color: white;
    }
    
    &--contact {
	    background-color: white;
	    
	    padding: 0;
    }
    
    
    &__text {
        margin-bottom: 10px;
        
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: @color-grayDark;  
        
        h2 {
	        margin-bottom: 5px;
	        
	        font-weight: 700;
	        color: @color-blue;
	        
	        @media @query-tablet {
        
	        	font-size: 20px;
	        	line-height: 24px;
	        
	        }  
        }
        
        @media @query-tablet {
        
        	font-size: 16px;
        	line-height: 20px;
        
        }  
    }
    
    &__link {
        font-size: 15px;
        font-weight: 400;
        text-decoration: underline;
        color: @color-blue;
        
        
        @media @query-mobile {
        
        	font-size: 13px;
        
        }
    }
    
    &__images {
	    position: absolute;
	    right: 2%;
		top: 0;
		
		width: 28%;
		
		@media @query-mobile {
		
			width: 40%;
		
		}
		
		ul {
			list-style: none;
			
			padding: 0;
			margin: 0;
			
			li {
				position: relative;
				
				height: @small-banner-height;
			}
		}
    }
    
    &__image {
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    
	    width: 100%;
	    height: auto;
	    
	    
	    margin: auto 0;
	    
	    @media @query-mobile {
	    
	    	width: auto !important;
	    	max-height: @small-banner-height - 30px;
	    
	    }
    }
}

.flexslider-small {

	padding: 0;
	margin: 0;
	
	border: none;	
	border-radius: 0;
	background: none;
	
}
