
@small-banner-grid-items-on-row: 2;
@small-banner-grid-horizontal-gap: 2%;
@small-banner-grid-vertical-gap: 2%;

.small-banner-grid {
    padding: 0;
    margin: 0 0 -@small-banner-grid-vertical-gap -@small-banner-grid-horizontal-gap;
    
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    list-style: none;
    
    
    @media @query-mobile {
    
    	margin-left: 0;
    
    }
    
    
    &__item {
        display: inline-block;
        vertical-align: top;
        
        width: 100% / @small-banner-grid-items-on-row - @small-banner-grid-horizontal-gap;
        
        margin: 0 0 @small-banner-grid-vertical-gap @small-banner-grid-horizontal-gap;
        
        
        @media @query-mobile {
        
        	width: 100%;
        	
        	margin-left: 0;
        
        }
    }
}