
@tag-height: 20px;

.tag {
    display: inline-block;
    
    height: @tag-height;
    
    position: relative;
    
    padding: 0 5px 0 10px;
    
    font-size: 11px;
    font-weight: 700;
    line-height: @tag-height + 2px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.1px;
    color: @color-white;
    
    
    &:after {
        content: " ";
        
        width: 0;
        height: 0;
        
        position: absolute;
        left: 100%;
    	top: 50%;
    	
    	pointer-events: none;
    	
    	margin-top: -@tag-height / 2;
    	
    	border: solid transparent;
    	border-width: @tag-height / 2;
    }
    
    
    &--red {
        background-color: @color-red;
        
        &:after {
            border-left-color: @color-red;
        }
    }
    
    &--orange {
        background-color: @color-orange;   
        
        &:after {
            border-left-color: @color-orange;
        } 
    }
}